//- .skeleton-box.w-100.rounded.mb-3(style="min-height: 30vh;")
.card.article-card.article-card-short.rounded-3
    div
        .article-card-cover
            .card-img-top

        .article-card-body.d-flex.flex-column.text-start.p-3.justify-content-end
            div
                div.mb-2
                    span.skeleton-box.w-25.rounded(style="height:20px")
                h5.mb-2.text-white.text-clamp-2
                    span.skeleton-box.w-100.rounded(style="height:20px")
                    span.skeleton-box.w-75.rounded(style="height:20px")
                p.m-0.fs-8.text-white.text-clamp-3
                    span.skeleton-box.w-75.rounded(style="height:14px")
                    span.skeleton-box.w-50.rounded(style="height:14px")
                .d-flex.gap-3.fs-9.text-white.mt-2
                    span.skeleton-box.w-25.rounded(style="height:14px")
                    span.skeleton-box.w-25.rounded(style="height:14px")