script(src='js/bootstrap.bundle.min.js')
script(src='js/jquery-1.11.3.min.js')
script(src='js/jquery.mobile.custom.min.js')
script(src='js/https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
script(src='js/main.js')