#adsModal.modal.fade.show.modal-lg(aria-hidden='true' aria-labelledby='adsModal' tabindex='-1')
  .modal-dialog.modal-dialog-centered.pra-modal
    .modal-content(style='background-color: transparent; border: none;')
        .modal-body.px-lg-5
            a(href="/informasi-keuangan/pengaduan-bi.html")
                img.w-100(src=baseURL+"img/hero/poopup-portal.png", alt="Prakerja Indonesia Skillsweek") 