// start overlay
.site-overlay
// end overlay
// start site nav
nav.site-nav.w-100.d-flex.justify-content-end
  #site-primary-nav.site-primary-nav.is-fixed
    ul.nav-group
        li
            a(href=baseURL+'index.html') Beranda
        li
            a(href=baseURL+'informasi-keuangan/') Informasi Keuangan
        li
            a(href='#') Pelatihan
        
        li.has-children.small-children
            a Negara Tujuan
            ul.site-secondary-nav.has-see-all.is-hidden
                li.go-back
                    a(href='#0') Menu
                li.see-all
                    a.anchor.arrow-move(href=baseURL+'negara/')
                        | Selengkapnya
                        i.icon-angle-right
                li
                    a.site-nav-item(href='#')
                        | Korea Selatan
                li
                    a.site-nav-item(href='#')
                        | Saudi Arabia
                li
                    a.site-nav-item(href='#')
                        | Malaysia
                li
                    a.site-nav-item(href='#')
                        | Taiwan
                li
                    a.site-nav-item(href='#')
                        | Hongkong
        li
            a(href='#') Artikel
            
        li
            button.btn.btn-cta-header.btn-gradient(type="button" data-bs-toggle="modal" data-bs-target="#layananAduan") 
                i.bi.bi-telephone-fill.me-2.text-white
                | Layanan Aduan
    //- ul.nav-group
    //-   li.has-children.small-children.first-xs
    //-     a
    //-       i.icon-web
    //-       |  EN
    //-     ul.site-secondary-nav.is-hidden
    //-       li.go-back
    //-         a(href='#0') Menu
    //-       li
    //-         a(href='#') Bahasa Indonesia
    //-       li
    //-         a.lang-active(href='#') English
  // primary-nav
// site-nav
