// start header
header.site-main-header
  .header-container
    a.site-logo(href='index2.html')
      img(src='img/logo-pmi.svg' alt='jariPMI')
    ul.site-header-buttons
      li
        a.site-nav-trigger(href='#site-primary-nav')
          | Menu
          span
// end header
