// Hero Disiplin Menabung
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/disiplin-menabung.svg", alt="Disiplin Menabung")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Disiplin Menabung

            .col-lg-10
                p.text-secondary 
                    | Sebagai calon pekerja migran, menabung menjadi langkah penting untuk mempersiapkan masa depan. Ketahui berbagai jenis tabungan yang tepat, hindari kesalahan umum, dan mulai menabung dengan konsisten, bahkan dengan tantangan 30 hari untuk membangun kebiasaan positif.

        