section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        .col-12
            ol.breadcrumb.fs-7.overflow-hidden.text-nowrap.mw-100
                    li.breadcrumb-item
                        a.text-primary(href=baseURL+'/')
                            i.bi.bi-house
                    li.breadcrumb-item
                        a.text-primary(href=baseURL+'negara/') Informasi Keuangan

                    li.breadcrumb-item.active(aria-current='page') Disiplin Menabung