//- INDEX LANDING PAGES
//- start variable
- var pageActive = ''
- var baseURL = ''
- var contentDescription = {}
- ogImageURL = "https://dikaseva.com/static/img/4.1f5ee9b.jpg"
- contentDescription.title = "Jari PMI"
- contentDescription.description = "Description"

doctype html
html(lang="id" page-class="home")
    include pug/includes/html_head.pug
    body
        include pug/includes/nav_head.pug

        main.site-main-content(style="height:150vh")
            include pug/home/section_hero.pug
        

        footer
        include pug/includes/nav_foot.pug

    include pug/includes/html_foot.pug