section#LatarBelakang
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.justify-content-center
        .col-12.col-lg-8.text-center
            h1.mb-4 Latar Belakang 
            p 
                | Diperlukan adanya Pusat Informasi bagi PMI dan Keluarga yang dapat memenuhi aspek Pelindungan dan Pemberdayaan sehingga terwujudnya 
                b “PMI Berdaya” 
                | dikarenakan kesenjangan informasi yang dapat diakses oleh PMI
    .row.justify-content-center.mt-4
        .col-12.col-lg-8
            .row 
                .col-lg-6.mb-3
                    .bg-pmi-blue-50.p-4.rounded-2.mt-lg-5
                        h5 Penempatan Ilegal (Nonprosedural)
                        ol.ordered-list
                            li Rawan korban Tindak Pidana Perdagangan Orang (TPPO)
                            li Rawan mengalami ekspoitasi (fisik dan seksual)
                            li Gaji yang tidak dibayarkan 
                            li Eksploitasi waktu kerja 
                            li Diputuskan sepihak
                            li Untuk ABK, kekerasan di atas kapal yang sering berakhir kematian (dilarung di laut)

                .col-lg-6
                    .bg-pmi-cyan-50.p-4.rounded-2
                        h5 Penempatan Resmi (Prosedural)
                        ol.ordered-list
                            li Mendapatkan jaminan perlindungan negara
                            li Mendapatkan fasilitas istimewa
                            li Mendapatkan kemudahan fasilitas pembiayaan
                            li Dilepas pejabat negara dengan cara terhormat

section#TujuanPMI
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.justify-content-center
        .col-12.col-lg-8
            .bg-pmi-neutral-50.p-3.p-lg-4.rounded
                h4.mb-3.text-center Tujuan JariPMI
                .d-flex.mb-3.justify-content-lg-center
                    i.bi.bi-check2-circle.text-success
                    span.ms-2 Informasi telah tersedia tetapi tersebar secara scatter
                
                .d-flex.mb-3.justify-content-lg-center
                    i.bi.bi-check2-circle.text-success
                    span.ms-2 Informasi telah tersedia, Namun tidak terpercaya

                .d-flex.mb-3.justify-content-lg-center
                    i.bi.bi-check2-circle.text-success
                    span.ms-2 Informasi yang tersedia tidak lengkap.
