section#VisiMisi
    .container.py-4.py-lg-5.px-4.px-md-0.bg-dot-pattern
        .row.justify-content-center.mt-4
            .col-12.col-lg-8
                h3.custom-rfs-h3.text-center.mb-4 Visi & Misi
                .row 
                    .col-lg-6.mb-3
                        .bg-pmi-blue-600.p-4.rounded-2.text-white
                            h5 Visi
                            p Mewujudkan Pelindungan PMI di Negara Penempatan
                            p Mewujudkan mimpi keberdayaan PMI setelah kembali ke Tanah Air

                    .col-lg-6
                        .bg-pmi-cyan-400.p-4.rounded-2.mt-lg-5.text-white
                            h5 Misi
                            p Membangun sentra informasi layanan untuk Pelindungan dan Pemberdayaan PMI dan Keluarga di Negara Penempatanmelalui:
                            p Menghadirkan akses PMI dan Keluarga atas informasi, data layanan, tata cara hidup di negara penempatan
                            p Menghadirkan ekosistem kuat dalam mendukung PMI dan Keluarga mewujudkan harapan bekerja dan kembali ke Tanah Air
