// HDetail Page 1
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        .col-12
            ol.breadcrumb.fs-7
                    li.breadcrumb-item
                        a.text-primary(href=baseURL+'/')
                            i.bi.bi-house
                    li.breadcrumb-item
                        a.text-primary(href=baseURL+'negara/') Semua Negara
                    li.breadcrumb-item
                        a.text-primary(href=baseURL+'negara/hongkong/') Hongkong

                    li.breadcrumb-item.active(aria-current='page') Tata Cara Pengiriman Uang ke Indonesia
        
        .col-12.bg-pmi-blue-50.rounded-3
            .p-4.text-center
                h1.h2 Tata Cara Pengiriman Uang ke Indonesia
                h6 Dari Hongkong

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav 
                    ol 
                        li 
                            a(href="#") Tata Cara Pengiriman Uang Melalui Aplikasi Entitas
                        
                        li 
                            a(href="#") SLA (Service Level Agreement) Terkait Uang Sampai

                        li 
                            a(href="#") Biaya yang Diperlukan

                        li 
                            a(href="#") Tempat & Lokasi

                        li 
                            a(href="#") Download Aplikasi Entitas

            article.jari-sidebar-content.col-lg-9
                section 
                    h4 Tata Cara Pengiriman Uang Melalui Aplikasi Entitas
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem felis. Aliquam congue eleifend enim eget maximus. Duis orci lacus, 
                        | rutrum et mauris et, venenatis posuere metus. Cras quis nisl sit amet risus molestie tristique. Etiam felis ipsum, volutpat eget dui sed, tristique maximus mi. 
                        | Morbi consequat lorem eget nisi imperdiet pellentesque. Phasellus lobortis vitae arcu et lacinia. Aenean sit amet suscipit arcu. Ut auctor vehicula tellus quis iaculis. Suspendisse dictum ex nec sodales interdum.
                
                section 
                    h4 SLA (Service Level Agreement) Terkait Uang Sampai
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem felis. Aliquam congue eleifend enim eget maximus. Duis orci lacus, 
                        | rutrum et mauris et, venenatis posuere metus. Cras quis nisl sit amet risus molestie tristique. Etiam felis ipsum, volutpat eget dui sed, tristique maximus mi. 
                        | Morbi consequat lorem eget nisi imperdiet pellentesque. Phasellus lobortis vitae arcu et lacinia. Aenean sit amet suscipit arcu. Ut auctor vehicula tellus quis iaculis. Suspendisse dictum ex nec sodales interdum.

                section 
                    h4 Biaya yang Diperlukan
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem felis. Aliquam congue eleifend enim eget maximus. Duis orci lacus, 
                        | rutrum et mauris et, venenatis posuere metus. Cras quis nisl sit amet risus molestie tristique. Etiam felis ipsum, volutpat eget dui sed, tristique maximus mi. 
                        | Morbi consequat lorem eget nisi imperdiet pellentesque. Phasellus lobortis vitae arcu et lacinia. Aenean sit amet suscipit arcu. Ut auctor vehicula tellus quis iaculis. Suspendisse dictum ex nec sodales interdum.

                section 
                    h4 Tempat & Lokasi
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem felis. Aliquam congue eleifend enim eget maximus. Duis orci lacus, 
                        | rutrum et mauris et, venenatis posuere metus. Cras quis nisl sit amet risus molestie tristique. Etiam felis ipsum, volutpat eget dui sed, tristique maximus mi. 
                        | Morbi consequat lorem eget nisi imperdiet pellentesque. Phasellus lobortis vitae arcu et lacinia. Aenean sit amet suscipit arcu. Ut auctor vehicula tellus quis iaculis. Suspendisse dictum ex nec sodales interdum.

                section 
                    h4 Download Aplikasi Entitas
                    p 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem felis. Aliquam congue eleifend enim eget maximus. Duis orci lacus, 
                        | rutrum et mauris et, venenatis posuere metus. Cras quis nisl sit amet risus molestie tristique. Etiam felis ipsum, volutpat eget dui sed, tristique maximus mi. 
                        | Morbi consequat lorem eget nisi imperdiet pellentesque. Phasellus lobortis vitae arcu et lacinia. Aenean sit amet suscipit arcu. Ut auctor vehicula tellus quis iaculis. Suspendisse dictum ex nec sodales interdum.

