@import "custom/variable";
@import "custom/utility";
@import "custom/button";

ol, ul {
    list-style: none;
  }
  .font-weight-bold{
    font-weight: 700;
  }
@import "custom/header";



.section-hero{
  position: relative;
  margin-top: -80px; // reflect to $header-height (80px)
  padding-top: 4rem;
  min-height: calc(100vh + 80px - 200px);

  &> div{
      position: relative;
      z-index: 3;
  }

  &:before{
      bottom:0;
  }
  .hero-image{
    // outline: solid 1px red;
    // top:0;
    // right: 0;
    // z-index: -1;
    // max-width: 100%;
  }
}

.txt-rotate{
  color: $pmi-primary;
  background: linear-gradient(90deg, #0071cb, #007ccf, #0087d3, #0791d6, #1d9cd8, #30a6da, #41b0dc, #52bade);
  background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


