// Hero Migrasi Aman
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/bijak-berhutang.svg", alt="Profil Purna PMI Sukses")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Profil Purna PMI Sukses

            .col-lg-10
                p.text-secondary 
                    | Setiap kisah Purna PMI adalah cermin ketangguhan dan kreativitas. Dengan modal pengalaman di luar negeri, mereka sukses mengembangkan usaha kuliner, pertanian, hingga kerajinan. Temukan cerita inspiratif bagaimana para pahlawan devisa membangun ekonomi keluarga sekaligus memberi dampak positif bagi masyarakat sekitar.

        