//- start variable
- var pageActive = 'negara-tujuan';
- var baseURL = '../../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Prosedur Kepulangan dari Taiwan ke Indonesia - Jari PMI"
- contentDescription.description = "Pelajari langkah-langkah kepulangan ke Indonesia dari Taiwan. Pastikan semua dokumen dan prosedur Anda sudah lengkap."

doctype html
html(lang="id" page-class="home")
    include ../../pug/includes/html_head.pug
    body
        // Header 
        include ../../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            include ../../pug/negara/taiwan/kepulangan-ke-indonesia.pug

        // Footer
        include ../../pug/includes/footer.pug

        // Header Menu
        include ../../pug/includes/nav_desktop.pug

        // Modals
        include ../../pug/includes/modal.pug

    include ../../pug/includes/html_foot.pug
