// Hero Informasi Keuangan
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/kirim-uang-ke-indonesia.svg", alt="Portal Pengaduan Bank Indonesia")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Portal Pengaduan Bank Indonesia
            .col-lg-10
                p.text-secondary 
                    | Pengaduan BI adalah layanan yang disediakan oleh Bank Indonesia untuk menangani pengaduan dan masukan dari masyarakat terkait layanan perbankan dan sistem pembayaran. Dengan layanan ini, masyarakat dapat menyampaikan pengaduan secara mudah dan cepat melalui berbagai saluran yang disediakan.
                p.text-secondary 
                    | Kamu bisa mengikuti panduan dibawah ini untuk menyampaikan pengaduanmu ke Bank Indonesia.

        