section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#petunjuk-penggunaan") Pengantar Petunjuk Penggunaan
                        li
                            a(href="#aduan-melalui-bicara") Aduan Melalui bicara131.bi.go.id
                        li
                            a(href="#aduan-melalui-bi") Aduan Melalui Portal BI.go.id

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#petunjuk-penggunaan
                    h4 Pengantar Pengaduan Kepada Bank Indonesia
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            | Portal Pengaduan Bank Indonesia merupakan layanan daring yang disediakan untuk memudahkan masyarakat dalam menyampaikan pengaduan terkait layanan keuangan, perbankan, maupun sistem pembayaran. Melalui portal ini, pengguna dapat mengajukan pengaduan secara cepat, mudah, dan transparan, serta memantau perkembangan penanganan pengaduan yang telah disampaikan. Portal ini juga menyediakan informasi dan panduan lengkap agar proses pengaduan dapat dilakukan dengan benar dan efektif.
                            ol
                                li.mb-2 
                                    strong Alternatif 1 : <a href="#aduan-melalui-bicara">Aduan Melalui bicara131.bi.go.id</a>
                                    //- br 
                                    //- | Step 1: Masuk ke halaman website <a target="_blank" class="text-link" href="https://bicara131.bi.go.id">https://bicara131.bi.go.id</a> atau 
                                li.mb-2 
                                    strong Alternatif 2 : <a href="#aduan-melalui-bi">Aduan Melalui Portal BI.go.id</a>
                                    //- ul.my-1
                                        li Step 1: Masuk ke halaman website <a target="_blank" class="text-link" href="https://bi.go.id">https://bi.go.id</a>
                                        li Step 2: Klik Menu ‘Layanan’
                                        li Step 3: Klik Menu ‘Pengaduan Konsumen’
                                        li Step 4: Klik ‘Form Pengaduan Online’



                            
                    hr
                section.pmi-scrollspy-content.adjust-anchor#aduan-melalui-bicara
                    h4 Aduan Melalui Bicara.go.id
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Kamu bisa melakukan pengaduan konsumen terkait kendala yang kamu alami sebagai nasabah / pengguna dari penyedia jasa pembayaran (PJP) melalui langkah-langkah mudah berikut ini.
                            ol.list-group.list-group-flush
                                li.mb-3
                                    p.mb-1 Akses website portal aduan melalui <a target="_blank" class="text-link" href="https://bicara131.bi.go.id">https://bicara131.bi.go.id</a>
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-1.jpg", alt="website bicara131.bi.go.id")
                                li.mb-3
                                    p.mb-1 Pilih menu 'Daftar' pada bagian menu atas
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-daftar.jpg", alt="daftar bicara131.bi.go.id")
                                li.mb-3  
                                    p.mb-1 Lengkapi formulir pendaftaran dengan data yang valid dan benar
                                    img.img-thumbnail.img-fluid.w-50.mb-3(src="../img/info-keuangan/portal-aduan-bi/step-form-daftar.jpg", alt="lengkapi formulir pendaftaran")
                                    p.mb-1 Setelah formulir pendaftaran lengkap, klik tombol 'Daftar', kamu akan diarahkan ke halaman konfirmasi email jika berhasil mendaftar di portal aduan.
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-sukses-form.jpg", alt="sukses formulir pendaftaran")
                                li.mb-3
                                    p.mb-1 Verifikasi email Kamu melalui email yang dikirimkan pada email terdaftar
                                    img.img-thumbnail.img-fluid.mb-3(src="../img/info-keuangan/portal-aduan-bi/step-email-verifikasi.jpg", alt="email berhasil terverifikasi")
                                    p.mb-1 Klik link pada email, setelah verifikasi email berhasil, kamu dapat masuk ke portal aduan menggunakan akun yang telah didaftarkan.
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-email-terverifikasi.jpg", alt="sukses formulir pendaftaran")
                                li.mb-3
                                    p.mb-1 Masuk / Login ke akun Kamu melalui <a target="_blank" class="text-link" href="https://bicara131.bi.go.id">https://bicara131.bi.go.id</a>
                                    img.img-thumbnail.img-fluid.w-50(src="../img/info-keuangan/portal-aduan-bi/step-login.jpg", alt="Login")
                                li.mb-3
                                    p.mb-1 Buat pengaduan baru, dengan mengikuti langkah berikut:
                                    img.img-thumbnail.img-fluid.w-50(src="../img/info-keuangan/portal-aduan-bi/step-buat-aduan.png", alt="Buat Pengaduan")
                                    ul.mb-1
                                        li Step 1: klik menu ‘Bantuan’
                                        li Step 2: pilih ‘Kasus Saya’
                                            br 
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-kasus-saya.jpg", alt="Kasus Saya")
                                        li Step 3: selanjutnya klik ‘Buat Tiket Perlindungan Konsumen’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-buat-tiket.png", alt="Ketikkan Judul")
                                        li Step 4: Ketikkan judul, dianjurkan mengikuti format yang sudah disediakan
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-aduan-baru.jpg", alt="Aduan Baru")
                                        li Step 5: Isi form yang disediakan sesuai dengan kebutuhan
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-isi-form-aduan.jpg", alt="Isi Form Pengaduan")
                                        li Step 6: upload file yang berkaitan dengan pengadu
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-upload-dokumen.jpg", alt="Upload File")
                                        li Step 7: File bisa diupload bersamaan dengan syarat yang sudah tercantum pada portal dengan cara klik ‘browse’ dan gunakan multiple select dengan menahan tombol ‘Shift’ + klik ke dokumen-dokumen yang ingin ditambahkan
                                        li Step 8: klik ‘Submit’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-submit-aduan.jpg", alt="Submit")
                                        li Step 9: tiket akan terlihat di daftar
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-daftar-aduan.jpg", alt="Tiket Terdaftar")
                                li.mb-3
                                    p.mb-1 Cek daftar kasus pengaduan yang telah dibuat
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-kasus-saya.jpg", alt="Daftar Kasus")
                                    ul
                                        li Step 1: klik menu ‘Bantuan’
                                        li Step 2: pilih ‘Kasus Saya’
                                        li Step 3: pilih case perlindungan konsumen yang diinginkan
                                li.mb-3
                                    p.mb-1 Kamu bisa melakukan konsultansi untuk kasus yang sudah kamu buat
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-kasus-saya.jpg", alt="Daftar Kasus")
                                    ul
                                        li Step 1: Konsumen dan penyelenggara bisa saling merespon case tersebut / melakukan pertukaran pendapat dengan cara klik ‘Add Comment’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-add-comment.jpg", alt="Tambah Komentar")
                                        li Step 2: Konsumen dan penyelenggara bisa melakukan pertukaran dokumen dengan klik ‘Add Comment’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-masukan-komentar.jpg", alt="Masukkan Komentar")
                                        li Step 3: Konsumen akan memutuskan hasil dari case perlindungan tersebut
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-unggah-dokumen.jpg", alt="Upload File")
                                        li Step 4: Jika sudah Puas, konsumen bisa memilih ‘Selesai’. Apabila konsumen belum puas dengan hasil pertukaran pendapat, konsumen dapat memilik opsi ‘Permohonan Fasilitasi’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-complete-comment.jpg", alt="lengkapi konsultasi")

                                li.mb-3
                                    p.mb-1 Kamu bisa mengajukan untuk `Permohonan Fasilitasi` terkait aduan Kamu
                                    ul
                                        li Step 1: Jika konsumen memilih opsi ‘Permohonan Fasilitasi’ maka stakeholder harus mengisi field ‘Alasan Tidak Sepakat’
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-permohonan-fasilitasi.jpg", alt="Tambah permohonan")
                                        li Step 2: ‘Klik Submit’
                                        li Step 3: Konsumen menerima email notifikasi berisikan waktu dan tempat fasilitasi
                                            br
                                            img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/step-complete-fasilitasi.jpg", alt="Upload File")

                    hr
                section.pmi-scrollspy-content.adjust-anchor#aduan-melalui-bi
                    h4 Aduan Melalui Portal bi.go.id
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Kamu bisa melakukan pengaduan konsumen terkait kendala yang kamu alami sebagai nasabah / pengguna dari penyedia jasa pembayaran (PJP) melalui langkah-langkah mudah berikut ini.
                            ol.list-group.list-group-flush
                                li.mb-3
                                    p.mb-1 Akses website portal aduan melalui <a target="_blank" class="text-link" href="https://bi.go.id">https://bi.go.id</a>
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/portal-bi.jpg", alt="website bi.go.id")
                                li.mb-3
                                    p.mb-1 Pilih menu ‘Layanan’
                                    img.img-thumbnail.img-fluid(src="../img/info-keuangan/portal-aduan-bi/layanan-konsumen.jpg", alt="menu layanan konsumen")
                                li.mb-3  
                                    p.mb-1 Pilih sub menu ‘Pengaduan Konsumen’
                                    img.img-thumbnail.img-fluid.w-50.mb-3(src="../img/info-keuangan/portal-aduan-bi/daftar-layanan.jpg", alt="daftar layanan")
                                li.mb-3  
                                    p.mb-1 kamu bisa melakukan pelaporan dengan pilihan lain seperti : 
                                        ul 
                                            li Telepon: Contact Center Bank Indonesia (BI Bicara) Telp <a href="tel:131">131</a> dan <a href="tel:1500131">1500131</a> (dari luar negeri)
                                            li Email: Surat Elektronik atau E-mail ke <a href="mailto:bicara@bi.go.id">bicara@bi.go.id</a>
                                            li Surat Tertulis kepada:
                                                br 
                                                | Kantor Perwakilan Bank Indonesia (KPw BI) yang terdekat dengan domisili Konsumen. 
                                                br 
                                                | Untuk Konsumen di wilayah Jakarta, Bogor, Depok dan Bekasi dapat menyampaikan kepada
                                                br 
                                                | Kantor Perwakilan Bank Indonesia DKI Jakarta Divisi Perlindungan Konsumen Sistem Pembayaran KPw DKI Learning Center 
                                                br 
                                                | Jl. Prajurit KKO Usman dan Harun No.42 RT/RW : 01/05 Se​​nen Jakarta Pusat 10410
                                            li Layanan Bicara Daring melalui aplikasi Webex dengan cara klik tautan berikut: <a href="https://bankindonesia.webex.com/join/bicara" target="_blank">https://bankindonesia.webex.com/join/bicara</a>.
                    a.btn.btn-primary.btn-lg(href="https://bicara131.bi.go.id" target="_blank" title="Cek Selengkapnya di portal BI") Buat Laporan Pengaduan Sekarang
                    hr


