// Hero
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        //- .col-12
        //-     ol.breadcrumb.fs-7
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'/')
        //-                     i.bi.bi-house
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'negara/') Semua Negara
        //-             li.breadcrumb-item.active(aria-current='page') Hongkong

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-taiwan.webp", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Taiwan

            .col-lg-10
                p.text-secondary
                    | Taiwan menjadi tujuan utama bagi pekerja migran di sektor kesehatan, manufaktur, dan rumah tangga. Dengan ekonomi berbasis teknologi dan elektronik, Taiwan menawarkan peluang kerja yang luas bagi tenaga terampil. 
                    br
                    | Taiwan memiliki tradisi pasar malam yang ramai dan terkenal. Meski ada tensi politik dengan China, Taiwan dikenal sebagai negara yang ramah dan mendukung pekerja migran.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-taiwan.webp", alt="Negara Tujuan PMI")