//- start variable
- var pageActive = 'negara-tujuan';
- var baseURL = '../../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Aturan dan Regulasi Kerja di Malaysia - Jari PMI"
- contentDescription.description = "Ketahui ketentuan kerja di Malaysia. Ikuti aturan hukum demi kenyamanan dan keamanan Anda bekerja."

doctype html
html(lang="id" page-class="home")
    include ../../pug/includes/html_head.pug
    body
        // Header 
        include ../../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            include ../../pug/negara/malaysia/regulasi-ketentuan-berlaku.pug


        // Footer
        include ../../pug/includes/footer.pug

        // Header Menu
        include ../../pug/includes/nav_desktop.pug

        // Modals
        include ../../pug/includes/modal.pug

    include ../../pug/includes/html_foot.pug