section
  .container.py-4.py-lg-5.px-4.px-md-0
    h5.text-center.mb-4 Hasil Kerjasama dengan Berbagai Institusi & Lembaga
    .row
        .col-lg-10.offset-lg-1
            .row.d-flex.justify-content-center
                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-bp2mi.png", alt="")
                
                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-bank-indonesia.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-kemenlu.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-ojk.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-kominfo.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-aspi.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-fintech.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-prakerja.png", alt="")

                .col-25.item-partner
                    a(href="#") 
                        img(src="img/logo-perbanas.png", alt="")