section
    .container.py-4.py-lg-4.px-4.px-md-0.my-4
        //- .d-flex.align-items-center.justify-content-between
        //-     div
        //-         h3.custom-rfs-h5 GEBER PK
        div.row.justify-content-md-center
            div.col-lg-6.text-center
                h3.custom-rfs-h5 GEBER PK PMI
                a(href='/informasi-keuangan/geber-pk.html' title="GEBER PK PMI")
                    img.img-fluid.width-50.rounded.border.mb-3(src='/img/home/geber_pk.jpeg' alt='GEBER PK')
                p Komunitas yang hadir sebagai ruang diskusi dan berbagi pengalaman dan edukasi seputar keamanan bertransaksi bagi Pekerja Migran Indonesia (PMI) yang bertujuan untuk mencegah dan melindungi PMI menjadi korban penipuan dan fraud dalam bertransaksi keuangan. 
                p Mari selalu menjadi PMI yang Cerdas PeKA (Peduli, Kenali, Adukan) Bertransaksi!
                p
                    a.btn.btn-gradient.btn-lg(href='/informasi-keuangan/geber-pk.html') Selengkapnya