// Hero
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        //- .col-12
        //-     ol.breadcrumb.fs-7
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'/')
        //-                     i.bi.bi-house
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'negara/') Semua Negara
        //-             li.breadcrumb-item.active(aria-current='page') Hongkong

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-arab-saudi.png", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Arab Saudi

            .col-lg-10
                p.text-secondary
                    | Arab Saudi menjadi tujuan favorit pekerja migran Indonesia, khususnya di sektor domestik, konstruksi, dan layanan publik. Sebagai negara dengan ekonomi terbesar di Timur Tengah, Arab Saudi sedang bertransformasi melalui program "Vision 2030," menciptakan lebih banyak peluang kerja. 
                    br 
                    | Negara ini memiliki Masjidil Haram di Mekkah, tempat ibadah utama umat Islam. Meski memiliki budaya kerja yang ketat, Arab Saudi menawarkan pengalaman kerja yang stabil bagi pekerja migran.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-saudi-arabia.webp", alt="Negara Tujuan PMI")