//- start variable
- var pageActive = 'negara-tujuan';
- var baseURL = '../../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Lokasi Kantor Perwakilan Indonesia di Arab Saudi - Jari PMI"
- contentDescription.description = "Temukan KBRI dan perwakilan Indonesia di Arab Saudi. Dapatkan informasi penting bagi pekerja migran."

doctype html
html(lang="id" page-class="home")
    include ../../pug/includes/html_head.pug
    body
        // Header 
        include ../../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            include ../../pug/negara/arab-saudi/lokasi-perwakilan-indonesia.pug


        // Footer
        include ../../pug/includes/footer.pug

        // Header Menu
        include ../../pug/includes/nav_desktop.pug

        // Modals
        include ../../pug/includes/modal.pug

    include ../../pug/includes/html_foot.pug