//- start variable
- var pageActive = 'negara-tujuan';
- var baseURL = '../../'
- var contentDescription = {}
- ogImageURL = baseURL+"img/jaripmi-berdaya.jpg"
- contentDescription.title = "Ketentuan dan Aturan Kerja di Arab Saudi - Jari PMI"
- contentDescription.description = "Pelajari lebih lanjut kontrak kerja mandiri, hukum yang berlaku, layanan bantuan hukum, peraturan dept. tenaga kerja khusus prta dan pemberi kerja, peraturan dept. tenaga kerja khsusu prta di Arab Saudi"

doctype html
html(lang="id" page-class="home")
    include ../../pug/includes/html_head.pug
    body
        // Header 
        include ../../pug/includes/nav_mobile.pug

        // Main content
        main.site-main-content
            include ../../pug/negara/arab-saudi/regulasi-ketentuan-berlaku.pug

        // Footer
        include ../../pug/includes/footer.pug

        // Header Menu
        include ../../pug/includes/nav_desktop.pug

        // Modals
        include ../../pug/includes/modal.pug

    include ../../pug/includes/html_foot.pug
