body{
    font-family: $font-display;
    color: $text-primary;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.text-secondary{
    color: $text-secondary;
}
.outline{
      outline: solid 1px red;
}
.bg-pmi-blue-50{
    background-color: $pmi-blue-50;
}

.text-primary{
    color: $pmi-blue-600!important;
}

.fs-7{
    font-size: calc(14/16)+rem;
}
.fs-8{
    font-size: calc(12/16)+rem;
}
.fs-9{
    font-size: calc(11/16)+rem;
}

::selection {
    background: $pmi-blue-700;
    /* Safari */
    color: #fff;
}

::-moz-selection {
    background: $pmi-blue-700;
    /* Firefox */
    color: #fff;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}