section 
    .container.py-3.py-lg-4.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3.custom-rfs-h3 Panduan Dasar
                //- img.img-fluid.rounded.my-3(src=baseURL+"img/info-keuangan/peka/peka-images.svg" alt="Peduli Kenali Adukan")
                p  Bikin kamu jadi lebih sadar dan paham tentang berbagai produk dan layanan keuanga​n. Kamu jadi konsumen cerdas yang bisa buat keputusan keuangan dengan tepat.
        .row.mt-4
            .col-lg-4.mb-4.mb-lg-0.text-center
                article.mb-3.p-4.bg-light-subtle.radius-3
                    div.rounded-circle.d-block.m-auto.p-4.bg-body-secondary.radius(style="height: 100px; width: 100px")
                        img.rounded-2(src=baseURL+"img/info-keuangan/peka/top-peduli-icon.svg", alt="Peduli")
                    div.py-3
                        p.fs-1 <b>PE</b>DULI
                        p Peduli manfaat, risiko dan keamanan transaksi pembayaran kamu
            
            .col-lg-4.mb-4.mb-lg-0.text-center
                article.mb-3.p-4.bg-light-subtle.radius-3
                    div.rounded-circle.d-block.m-auto.p-4.bg-body-secondary.radius(style="height: 100px; width: 100px")
                        img.rounded-2(src=baseURL+"img/info-keuangan/peka/top-kenali-icon.svg", alt="Kenali")
                    div.py-3
                        p.fs-1 <b>KE</b>NALI
                        p Kenali penyelenggara dan regulatornya. Pilih yang resmi dan terpercaya
            
            .col-lg-4.mb-4.mb-lg-0.text-center
                article.mb-3.p-4.bg-light-subtle.radius-3
                    div.rounded-circle.d-block.m-auto.p-4.bg-body-secondary.radius(style="height: 100px; width: 100px")
                        img.rounded-2(src=baseURL+"img/info-keuangan/peka/top-adukan-icon.svg", alt="Adukan")
                    div.py-3
                        p.fs-1 <b>A</b>DUKAN
                        p Adukan masalah ke Bank Indonesia untuk ditindaklanjuti