// Hero Informasi Keuangan
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/remitansi.svg", alt="Peduli Kenali Laporkan")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Peduli, Kenali, Adukan
            .col-lg-10
                p.text-secondary
                    | Peduli, Kenali, Adukan adalah inisiatif untuk meningkatkan kesadaran masyarakat tentang pentingnya melaporkan informasi yang berkaitan dengan keuangan dan perbankan.

        