section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#pengantar-kur-penempatan") Pengantar 
                        li
                            a(href="#dasar-hukum-kur") Dasar Hukum KUR Penempatan PMI
                        li
                            a(href="#penerima-kur-penempatan-pmi") Penerima KUR Penempatan PMI
                        li
                            a(href="#persyaratan-kur-penempatan-pmi") Persyaratan KUR Penempatan PMI
                        li
                            a(href="#hak-kewajiban-penerima-kur-penempatan-pmi") Hak Dan Kewajiban Penerima KUR Penempatan PMI
                        li
                            a(href="#penyalur-kur-penempatan-pmi") Penyalur KUR Penempatan PMI
                        li
                            a(href="#hak-kewajiban-penyalur-kur-penempatan-pmi") Hak Dan Kewajiban Penyalur KUR Penempatan PMI
                        li
                            a(href="#mekanisme-pengajuan-kur-penempatan-pmi") Mekanisme Pengajuan KUR Penempatan PMI
                        li
                            a(href="#nilai-pinjaman-dan-jangka-waktu-kur-penempatan-pmi") Nilai Pinjaman Dan Jangka Waktu KUR Penempatan PMI
                        li
                            a(href="#komponen-biaya-kur-penempatan-pmi") Komponen Biaya KUR Penempatan PMI
                        li
                            a(href="#tahapan-pengajuan-kur-penempatan-pmi") Tahapan Pengajuan KUR Penempatan PMI
                        li
                            a(href="#pemantauan-evaluasi-dan-pelaporan-kur-penempatan-pmi") Pemantauan, Evaluasi dan Pelaporan KUR Penempatan PMI

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#pengantar-kur-penempatan
                    h4 Pengantar 
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p KUR khusus sebagai pembiayaan modal kerja untuk memenuhi kebutuhan biaya penempatan ke negara tujuan dengan plafon pinjaman maksimal 100 juta rupiah dan bunga sebesar 6%.

                    hr
                section.pmi-scrollspy-content.adjust-anchor#dasar-hukum-kur
                    h4 Dasar Hukum KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                           ol 
                                li 
                                    b UU No. 18 Tahun 2017 
                                    p Tentang Perlindungan Pekerja Migran Indonesia
                                li 
                                    b UU No. 6 Tahun 2023
                                    p Tentang Penetapan Peraturan Pemerintah Pengganti Undang-Undang Nomor 2 Tahun 2022 Tentang Cipta Kerja Menjadi Undang-Undang
                                li 
                                    b PP No. 164 Tahun 2024
                                    p Tentang Kementerian Pelindungan Pekerja Migran Indonesia
                                li 
                                    b PP No. 165 Tahun 2024
                                    p Tentang Badan Pelindungan Pekerja Migran Indonesia
                                li 
                                    b Permenko Perekonomian No. 1 Tahun 2022
                                    p Tentang Pedoman Pelaksanaan Kredit Usaha Rakyat
                                li 
                                    b Permenko Perekonomian No. 12 Tahun 2025
                                    p Tentang Perubahan Keempat Atas Permenko Perekonomian Nomor 1 Tahun 2022 tentang Pedoman Pelaksanaan Kredit Usaha Rakyat
                                li 
                                    b PermenP2MI/BP2MI No.1 Tahun 2024
                                    p tentang Organisasi dan Tata Kerja Kementerian Pelindungan Pekerja Migran Indonesia/Badan Pelindungan Pekerja Migran Indonesia
                                li 
                                    b PermenP2MI/BP2MI No.18 Tahun 2025
                                    p Tentang Petunjuk Teknis Kredit Usaha Rakyat Penempatan Pekerja Migran Indonesia
                    hr
                section.pmi-scrollspy-content.adjust-anchor#penerima-kur-penempatan-pmi
                    h4 Penerima KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Penerima KUR Penempatan Pekerja Migran Indonesia merupakan Calon Pekerja Migran Indonesia/Pekerja Migran Indonesia yang yang telah memenuhi persyaratan sesuai dengan ketentuan peraturan perundang-undangan.
                    hr
                section.pmi-scrollspy-content.adjust-anchor#persyaratan-kur-penempatan-pmi
                    h4 Persyaratan KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li 
                                    b Memiliki Nomor Induk Kependudukan
                                    p Kartu Tanda Penduduk Elektronik atau Surat Keterangan Pembuatan Kartu Tanda Penduduk Elektronik
                                li 
                                    b Terdaftar Sebagai Calon / Pekerja Migran Indonesia Di SISKO P2MI 
                                    p Bukti Pendaftaran di Sisko P2MI atau Elektronik Kartu Pekerja Migran Indonesia (E-KPMI)
                                li 
                                    b Memiliki Perjanjian Kerja / Perjanjian Penempatan / Dokumen Lainnya 
                                    ul 
                                        li Perjanjian Kerja Sama Penempatan;
                                        li Perjanjian Penempatan;
                                        li Perjanjian Kerja;
                                        li Perjanjian Kerja Laut;
                                        li Bukti Pendaftaran pada Lembaga Pelatihan Kerja; atau
                                        li Bukti Pembayaran untuk Sertifikasi Kompetensi.
                    hr
                section.pmi-scrollspy-content.adjust-anchor#hak-kewajiban-penerima-kur-penempatan-pmi
                    h4 Hak Dan Kewajiban Penerima KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ul 
                                li 
                                    b Hak 
                                    ol 
                                        li 
                                            b Mendapatkan penjelasan mengenai mekanisme kredit/pembiayaan melalui KUR Penempatan Pekerja Migran Indonesia oleh 
                                            span Penyalur KUR dan/atau kementerian/lembaga yang berwenang
                                        li 
                                            b Mendapatkan kredit/pembiayaan untuk biaya penempatan berdasarkan analisis dari Penyalur KUR Penempatan Pekerja Migran Indonesia
                                        li 
                                            b Mendapatkan pencairan kredit/pembiayaan yang dilaksanakan secara bertahap atau penggantian biaya
                                li 
                                    b Kewajiban
                                    ol 
                                        li 
                                            b Melampirkan dokumen yang dipersyaratkan dalam KUR Penempatan Pekerja Migran Indonesia
                                        li 
                                            b Menandatangani perjanjian kredit/pembiayaan dan tunduk pada ketentuan hukum yang mengikat
                                        li 
                                            b Membayar angsuran pinjaman sesuai dengan perjanjian kredit/pembiayaan
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#penyalur-kur-penempatan-pmi
                    h4 Penyalur KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ul 
                                li Lembaga Keuangan yang telah memenuhi persyaratan dan ditetapkan untuk menyalurkan KUR Penempatan Pekerja Migran Indonesia berdasarkan Permenko Perekonomian No 1 Tahun 2022
                                li Memiliki kerja sama dengan KP2MI/BP2MI, dalam ruang lingkup pemanfatan dan pertukaran data Pekerja Migran Indonesia untuk penyaluran pembiayaan penempatan bagi Pekerja Migran Indonesia
                                    
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#hak-kewajiban-penyalur-kur-penempatan-pmi
                    h4 Hak Dan Kewajiban Penyalur KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ul 
                                li 
                                    b Hak 
                                    ol 
                                        li Mendapatkan data Calon/Pekerja Migran Indonesia yang dibutuhkan
                                        li Memberikan persetujuan atau penolakan atas pengajuan KUR Penempatan Pekerja Migran Indonesia
                                        li Menerima angsuran pinjaman sesuai dengan perjanjian kredit/pembiayaan
                                li 
                                    b Kewajiban
                                    ol 
                                        li 
                                            b Memberikan penjelasan kepada Calon/Pekerja Migran Indonesia terkait
                                            p kredit/pembiayaan melalui KUR Penempatan Pekerja Migran Indonesia
                                        li 
                                            b Melakukan analisis kredit/pembiayaan terhadap nilai pinjaman yang diajukan 
                                            p oleh Calon/Pekerja Migran Indonesia
                                        li 
                                            b Memproses dan menyalurkan KUR Penempatan Pekerja Migran Indonesia
                                            p sesuai dengan perjanjian kredit/pembiayaan yang telah ditandatangani
                                        li 
                                            b Melaporkan data pelaksanaan kerja sama 
                                            span dengan pelaksana penempatan dan lembaga linkage, serta persetujuan atau penolakan pengajuan KUR Penempatan Pekerja Migran Indonesia
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#mekanisme-pengajuan-kur-penempatan-pmi
                    h4 Mekanisme Pengajuan KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            b Penyaluran KUR Penempatan Pekerja Migran Indonesia 
                            span oleh Penyalur KUR Penempatan Pekerja Migran Indonesia kepada Penerima KUR Penempatan Pekerja Migran Indonesia 
                            b dapat dilakukan secara langsung atau menggunakan pola <i>linkage</i> secara <i>channeling</i>
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#nilai-pinjaman-dan-jangka-waktu-kur-penempatan-pmi
                    h4 Nilai Pinjaman Dan Jangka Waktu KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ul 
                                li KUR Penempatan Pekerja Migran Indonesia diberikan dengan jumlah paling banyak sebesar Rp100.000.000,- (seratus juta rupiah)
                                li <b>Suku Bunga</b> KUR Penempatan Pekerja Migran Indonesia <b>sebesar 6% (enam persen) efektif pertahun</b>
                                li Nilai pinjaman KUR Penempatan Pekerja Migran Indonesia <b>dapat mengacu pada struktur Biaya Penempatan</b> yang ditetapkan oleh KP2MI/BP2MI sesuai dengan ketentuan peraturan perundang-undangan
                                li Jangka waktu KUR Penempatan Pekerja Migran Indonesia berdasarkan kesepakatan antara Penyalur KUR dengan Penerima KUR paling lama sama dengan masa Perjanjian Kerja dan tidak melebihi jangka waktu paling lama 3 (tiga) tahun
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#komponen-biaya-kur-penempatan-pmi
                    h4 Komponen Biaya KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li 
                                    b Biaya Persiapan Penempatan
                                    ul 
                                        li 
                                            b Pelatihan
                                        li 
                                            b Sertifikasi Kompetensi
                                        li Jasa Perusahaan
                                        li Transportasi Lokal
                                        li Visa Kerja
                                        li Tiket Keberangkatan
                                        li Tiket Pulang
                                        li Akomodasi
                                li 
                                    b Biaya Yang Berhubungan Dengan Penempatan 
                                    ul 
                                        li Pemeriksaan Kesehatan dan Psikologi
                                        li Jaminan Sosial Pekerja Migran Indonesia
                                        li Apostille
                                        li Dokumen persyaratan untuk bekerja ke negara tujuan penempatan
                                li 
                                    b Biaya Lain 
                                    ul 
                                        li 
                                            b Biaya hidup sebelum Pekerja Migran Indonesia mendapatkan upah/gaji; dan/atau
                                        li 
                                            b Biaya hidup untuk keluarga Pekerja Migran Indonesia
                                
                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#tahapan-pengajuan-kur-penempatan-pmi
                    h4 Tahapan Pengajuan KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li Calon/Pekerja Migran Indonesia mengajukan permohonan KUR kepada Penyalur KUR
                                li Penyalur KUR melakukan verifikasi atas permohonan KUR paling lama 5 (lima) hari kerja terhitung sejak permohonan diterima
                                li 
                                    p - Permohonan sesuai ketentuan, Penyalur KUR menyetujui pengajuan
                                    p - Permohonan tidak sesuai ketentuan, Penyalur KUR menolak pengajuan dengan memberikan surat pemberitahuan
                                li Penandatanganan perjanjian kredit/pembiayaan antara Calon/Pekerja Migran Indonesia dengan Penyalur KUR *dapat dilakukan bersamaan dengan Perjanjian Penempatan
                                li Penyalur KUR mencairkan kredit/pembiayaan yang dilaksanakan secara bertahap atau penggantian biaya

                    
                    hr
                section.pmi-scrollspy-content.adjust-anchor#pemantauan-evaluasi-dan-pelaporan-kur-penempatan-pmi
                    h4 Pemantauan, Evaluasi dan Pelaporan KUR Penempatan PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li Perkembangan proses kredit/pembiayaan dan angsuran Pekerja Migran Indonesia
                                li Perkembangan realisasi penyerapan KUR Penempatan Pekerja Migran Indonesia
                                li Permasalahan dalam penyaluran kredit/ pembiayaan dan pengembalian pinjaman
                            p Pemantauan dan evaluasi pelaksanaan penyaluran KUR Penempatan Pekerja Migran Indonesia dilakukan bersama dengan Penyalur KUR Penempatan Pekerja Migran Indonesia secara berkala setiap 3 (tiga) bulan dan/atau sewaktu-waktu apabila diperlukan.
                    hr
                section.pmi-scrollspy-content#section-final
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Baca Selengkapnya <a href="/files/Materi_25_09_17_Era_Baru_KUR_Penempatan_PMI.pdf" target="_blank" class="btn btn-primary btn-sm">Unduh Disini</a>

                