// Hero Informasi Keuangan
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/remitansi.svg", alt="GEBER PK PMI")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | GEBER PK PMI
            .col-lg-10
                p.text-secondary
                    | Komunitas yang hadir sebagai ruang diskusi dan berbagi pengalaman dan edukasi seputar keamanan bertransaksi bagi Pekerja Migran Indonesia (PMI) yang bertujuan untuk mencegah dan melindungi PMI menjadi korban penipuan dan fraud dalam bertransaksi keuangan. Mari selalu menjadi PMI yang Cerdas PeKA (Peduli, Kenali, Adukan) Bertransaksi!

        