section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#pengantar-qris-cross-border") Peduli Kenali Adukan 
                        li
                            a(href="#qris-antarnegara") Hindari Modus Penipuan
                        li
                            a(href="#pjp-qris-antarnegara") Waspada 

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#pengantar-qris-cross-border
                    h4 Peduli Kenali Adukan  
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p
                                img.m-auto.img-thumbnail.rounded.w-50(src=baseURL+"img/info-keuangan/geber/materi-1.png" alt="QRIS Cross Border" class="")
                    hr
                section.pmi-scrollspy-content.adjust-anchor#qris-antarnegara
                    h4 Hindari Modus Penipuan
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p
                                img.m-auto.img-thumbnail.rounded.w-50(src=baseURL+"img/info-keuangan/geber/materi-2.png" alt="QRIS Cross Border" class="")
                    hr
                section.pmi-scrollspy-content.adjust-anchor#pjp-qris-antarnegara
                    h4 Waspada
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p
                                img.m-auto.img-thumbnail.rounded.w-50(src=baseURL+"img/info-keuangan/geber/materi-3.png" alt="QRIS Cross Border" class="")
