// Hero
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-singapore.png", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Singapura

            .col-lg-10
                p.text-secondary
                    | Singapura adalah pusat bisnis global yang menawarkan peluang kerja di sektor rumah tangga, jasa, dan konstruksi. Sebagai negara maju dengan sistem ekonomi modern, Singapura sangat terbuka untuk tenaga kerja asing. 
                    br 
                    | Singapura memiliki kebijakan kebersihan ketat, sehingga dikenal sebagai salah satu negara terbersih di dunia. Hubungan baik dengan Indonesia membuat negara ini menjadi pilihan yang aman dan nyaman bagi pekerja migran.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-singapore.webp", alt="Negara Tujuan PMI")