// Section Transaksi Keuangan
section
    .container.py-3.py-lg-4.px-4.px-md-0
        .row 
            .col-12.text-center
                h3.custom-rfs-h3 Transaksi Keuangan
        
        .row 
            .col-12.px-4
                .row.border.rounded-2.overflow-hidden.mt-4
                    .col-lg-6
                        //- .d-flex.gap-3.p-4
                        .row
                            .col-12.col-lg-4.p-3.p-lg-4.text-center
                                img.pmi-image-thumbnail(src=baseURL+"img/img-the-saver.svg", alt="")

                            .col-12.col-lg-8.p-3.p-lg-4
                                h5.custom-rfs-h5 Disiplin Menabung
                                p Sebagai calon pekerja migran, menabung menjadi langkah penting untuk mempersiapkan masa depan. Ketahui berbagai jenis tabungan yang tepat, hindari kesalahan umum, dan mulai menabung dengan konsisten, bahkan dengan tantangan 30 hari untuk membangun kebiasaan positif.
                                a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/disiplin-menabung/") Selengkapnya

                    .col-lg-6.bg-pmi-blue-50
                        //- .d-flex.gap-3.p-4
                        .row
                            .col-12.col-lg-4.p-3.p-lg-4.text-center
                                img.pmi-image-thumbnail(src=baseURL+"img/img-the-wiser.svg", alt="")

                            .col-12.col-lg-8.p-3.p-lg-4 
                                h5.custom-rfs-h5 Bijak Berhutang
                                p Saat bekerja di luar negeri, penting untuk memahami perbedaan antara utang baik dan buruk. Bijak dalam berhutang akan membantu menghindari jebakan utang yang berlebihan, seperti skema <i>"Pay Later"</i>, serta mengenali pinjaman legal dan ilegal.
                                a.btn.btn-outline-primary(href=baseURL+"informasi-keuangan/bijak-berhutang/") Selengkapnya