
section 
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3.custom-rfs-h3 Produk Pinjaman
            div.d-flex.align-items-center.gap-3
                //- a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-tab3-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-tab3-next
                        i.bi.bi-chevron-right

        .swiper.tabNav3Swiper.tab-nav-swiper.mt-4(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-1.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6.custom-rfs-h6 Mengenal Konsep Berutang

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-2.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6.custom-rfs-h6 Utang Baik vs Utang Buruk

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6.custom-rfs-h6 Kiat Bijak Berutang

                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-4.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6.custom-rfs-h6 Tips Anti Terlilit Hutang & Pinjaman


        .swiper.tabContent3Swiper.tab-content-swiper.mt-3(thumbsslider='')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .p-3.p-lg-4.content-article
                        .d-flex.flex-row 
                            .w-50.px-2
                                p Memahami konsep utang penting bagi setiap orang, terutama calon pekerja migran yang mungkin dihadapkan pada kebutuhan mendesak saat bekerja di luar negeri. Utang, pada dasarnya, adalah pinjaman yang harus dikembalikan dalam bentuk uang atau benda lainnya. Konsep ini perlu dikenali, namun tidak boleh terlalu "akrab" karena utang bisa menjadi beban finansial jika tidak dikelola dengan baik. Ingatlah, setiap utang adalah tanggung jawab yang harus dilunasi tepat waktu.
                                p Orang berhutang biasanya karena beberapa alasan. Ada yang terpaksa berhutang untuk memenuhi kebutuhan mendesak, seperti biaya kesehatan atau kebutuhan hidup sehari-hari. Sebagian lainnya mungkin terdorong oleh keinginan yang sulit dikendalikan, seperti membeli rumah atau gadget baru. Beberapa individu juga berhutang karena pendapatan yang terbatas atau untuk modal usaha. Namun, penting untuk tetap bijak dalam berutang dan memastikan kemampuan membayar kembali agar tidak menjadi beban di masa depan.
                            .vr.mx-2
                            .w-50.px-2
                                p 
                                    b Mengenal Konsep Berutang
                                ol 
                                    li Mari berkenalan dengan konsep berhutang, tapi jangan terlalu akrab.
                                    li Utang merupakan pinjaman yang dilakukan oleh seseorang kepada orang lain baik berupa uang atau pun benda berharga lainnya.
                                    li Ingat, PINJAMAN artinya harus dikembalikan!
                                    li 

                                p 
                                    b Mengapa Kita Ber-Hutang?
                                ol 
                                    li Kebutuhan mendesak
                                    li Keinginan yang tidak bisa dikendalikan seperti ingin membeli rumah atau gadget baru
                                    li Pendapatan kecil
                                    li Mau memulai bisnis
                .swiper-slide.rounded-2
                    .p-3.p-lg-4.content-article
                        .d-flex.flex-row 
                            .w-50.px-2
                                p Tidak semua utang itu buruk, ada juga jenis utang yang bisa memberikan manfaat positif. Utang baik adalah utang yang diambil untuk kebutuhan produktif yang dapat menghasilkan nilai lebih di masa depan. Contohnya, utang untuk modal usaha atau investasi pendidikan. Jenis utang ini dianggap baik karena memiliki potensi untuk memberikan pengembalian atau manfaat jangka panjang, seperti meningkatkan penghasilan atau meningkatkan keterampilan.
                                p Di sisi lain, ada utang buruk yang sebaiknya dihindari. Utang buruk biasanya diambil hanya untuk memenuhi keinginan konsumtif tanpa ada manfaat yang nyata atau jangka panjang. Misalnya, berutang untuk membeli barang-barang yang tidak terlalu dibutuhkan atau untuk gaya hidup mewah. Utang jenis ini cenderung membawa beban keuangan yang tidak menghasilkan keuntungan dan bisa membahayakan kesehatan finansial di masa depan.
                            .vr.mx-2
                            .w-50.px-2 
                                b Utang Baik vs Utang Buruk
                                ul.mb-2
                                    li Utang Produktif dan Utang Konsumtif
                                    li "Utang itu gak selamanya buruk, ada juga loh utang yang baik!"
                                p 
                                    b Utang Baik
                                    br 
                                    | Utang yang dilakukan untuk hal yang produktif dan dapat memberikan manfaat di masa yang akan datang.
                                p 
                                    b Utang Buruk
                                    br 
                                    | Berhutang untuk memuaskan keinginan konsumtif saja, tanpa memikirkan apa manfaat dan dampaknya.

                .swiper-slide.rounded-2
                    .p-3.p-lg-4.content-article
                        .d-flex.flex-row 
                            .w-50.px-2
                                p Mengelola utang dengan bijak adalah langkah penting untuk menjaga kestabilan finansial. Salah satu cara bijak adalah hanya berutang ketika berada dalam kondisi mendesak, seperti kebutuhan kesehatan atau kebutuhan penting lainnya. Hindari godaan untuk mengambil utang demi keinginan konsumtif yang sifatnya sementara, karena ini hanya akan menambah beban keuangan dan menurunkan kualitas hidup kita.
                                p Selain itu, penting untuk membatasi jumlah utang agar tidak melebihi 30% dari total pendapatan bulanan. Pembatasan ini membantu kita agar tidak terjebak dalam siklus utang yang sulit dilunasi, di mana seseorang bisa terus-menerus berutang untuk menutupi utang sebelumnya. Prinsip ini mengajarkan kita untuk menjaga keseimbangan dalam pengeluaran dan mencegah situasi di mana utang menjadi beban yang terus berlanjut tanpa solusi.
                            .vr.mx-2
                            .w-50.px-2 
                                #accordionFl-kiat-bijak.accordion.accordion-flush
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapse-mendesak' aria-expanded='false' aria-controls='flush-collapse-mendesak')
                                                | Hanya meminjam ketika dalam keadaan MENDESAK
                                        #flush-collapse-mendesak.accordion-collapse.collapse.show(data-bs-parent='#accordionFl-kiat-bijak')
                                            .accordion-body.content-article
                                                ol 
                                                    li Jika tidak mendesak, tidak perlu berhutang!
                                                    li Jangan tergoda dengan penawaran hutang untuk membeli barang konsumtif.
                                                    li Ingat, berhutang hanya akan membuat hidupmu tidak tenang.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapse-batasai' aria-expanded='false' aria-controls='flush-collapse-batasai')
                                                | Membatasi Jumlah Pinjaman 
                                        #flush-collapse-batasai.accordion-collapse.collapse(data-bs-parent='#accordionFl-kiat-bijak')
                                            .accordion-body.content-article
                                                span Perlu diingat kembali, ketika berhutang….
                                                ol 
                                                    li Pastikan jumlah SEMUA HUTANG tidak boleh melebihi 30% DARI PENDAPATAN BULANAN.
                                                    li Tentu saja apabila pinjaman kita melebihi dari 30% pendapatan bulanan, maka akan terjadi kesulitan melunasi hutang-hutang dikarenakan jumlah pinjaman terlalu besar.
                                                    li Bahkan terkadang ada yang sampai melakukan tutup lobang gali lobang terus saja begitu hingga tidak ada ujung nya
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapse-bayar' aria-expanded='false' aria-controls='flush-collapse-bayar')
                                                | Mampu Membayar Pinjaman Kembali
                                        #flush-collapse-bayar.accordion-collapse.collapse(data-bs-parent='#accordionFl-kiat-bijak')
                                            .accordion-body.content-article
                                                ol 
                                                    li Ketika sudah berhutang, pastikan Anda harus menanamkan NIAT untuk membayar nya kembali.
                                                    li Jangan sampai Anda merugikan orang lain yang telah mempercayai dan memberikan uang pinjamannya kepada Anda, kepercayaan yang rusak tidak bisa kembali seperti sedia kala.
                                                    li Pastikan Anda sudah mempersiapkan secara matang bagaimana melakukan pelunasan terhadap utang yang sudah diajukan, apakah dengan di cicil harian atau bulanan. 
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapse-pinjol' aria-expanded='false' aria-controls='flush-collapse-pinjol')
                                                | Hindari Pinjaman Online Ilegal!!!
                                        #flush-collapse-pinjol.accordion-collapse.collapse(data-bs-parent='#accordionFl-kiat-bijak')
                                            .accordion-body.content-article
                                                span Mampu Membayar Pinjaman Kembali
                                                ol 
                                                    li Dibalik pencairan pinjaman online yang serba cepat, ada jebakan online yang siap memangsa! Hindari Pinjaman Online Ilegal!!!
                                                    li Jangan tertipu dengan segala promosi dari pinjaman online, karena banyak sekali pinjaman online yang menawarkan bunga ringan hanya 0,0001 tapi setelah dihitung hitung pada akhirnya malah bisa mencekik kita.
                                                    li Lalu, jika telat bayar pinjol ilegal, biasanya diteleponin terus tuh sama DC dengan ancaman menyebarkan data pribadi. Serem ga tuh!!!
                                
                .swiper-slide.rounded-2
                    .p-3.p-lg-4
                        h5 Tips Anti Terlilit Hutang & Pinjaman
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum ligula vel pharetra rutrum. Quisque pharetra consequat risus at commodo. Praesent finibus turpis ut luctus dictum. Maecenas luctus sed nunc at pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ligula a eros porttitor dapibus. Nulla ullamcorper mauris non nisl aliquam, quis vestibulum nisi posuere. Duis ut diam et quam lobortis eleifend. Donec hendrerit metus sit amet pulvinar dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        p Aenean maximus, nisl ut vulputate consequat, ipsum erat tincidunt felis, at pharetra massa dui sed quam. Nulla at ultrices lorem, a venenatis mauris. Morbi dictum lectus lectus, id gravida enim pharetra at. Nullam pellentesque dapibus felis, vehicula aliquam justo condimentum ac. Nullam consequat lectus at semper euismod. Sed augue nunc, vulputate ut ipsum nec, pellentesque porttitor erat. Ut aliquam in massa eu scelerisque. Nam porttitor eleifend velit vel cursus. Donec sed ultrices urna.
