// Hero
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        //- .col-12
        //-     ol.breadcrumb.fs-7
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'/')
        //-                     i.bi.bi-house
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'negara/') Semua Negara
        //-             li.breadcrumb-item.active(aria-current='page') Hongkong

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img.me-3.border(src=baseURL+"img/flag-korea-selatan.png", alt="" height="64")
                h1.display-4.font-weight-bold.mb-3
                    | Korea Selatan

            .col-lg-10
                p.text-secondary
                    | Korea Selatan menawarkan kesempatan kerja di bidang manufaktur, pertanian, dan perikanan bagi pekerja migran Indonesia. Sebagai salah satu negara dengan ekonomi terkuat di Asia, Korea Selatan terkenal sebagai pusat teknologi global dan hiburan K-Pop. 
                    br 
                    | Korea Selatan memiliki budaya kerja yang sangat terorganisir dan produktif. Dengan situasi politik yang stabil, negara ini menjadi tempat yang aman dan menarik bagi tenaga kerja asing.

        .col-md-5.p-0
            img.mw-100.hero-mask(src=baseURL+"img/bg-south-korea.webp", alt="Negara Tujuan PMI")