section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#pengantar-kirim-barang") Pengantar 
                        li
                            a(href="#daftar-dan-syarat") Daftar &amp; Syarat Pengiriman Barang PMI

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#pengantar-kirim-barang
                    h4 Pengantar 
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p informasi mengenai pembebasan biaya masuk barang kiriman PMI (<a href="https://jdih-old.kemenkeu.go.id/download/2ad57359-063b-4014-b932-e94a29d39486/2023pmkeuangan141.pdf" target="_blank" class="text-link">Peraturan Menteri Keuangan Nomor 141 tahun 2023</a>)
                            p Beberapa materi Peraturan Menteri Keuangan Nomor 141 tahun 2023 tentang Ketentuan Impor Barang Pekerja Migran Indonesia 

                    hr
                section.pmi-scrollspy-content.adjust-anchor#kendala-yang-sering-dihadapi-pmi
                    h4 Kendala Yang sering Dihadapi PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                           p dari beberapa pengalaman kami, ada beberapa kendala yang sering kali dihadapi oleh para Pekerja Migran Indonesia saat bekerja di luar negeri, apa saja itu, berikut penjerlasannya : 
                            ol 
                                li Keterbatasan bahasa, pengetahuan dan kompetensi yang mengakibatkan para PMI tidak dapat beradaptasi dengan baik.
                                li Menolak beradaptasi yang berujung PMI memutuskan pindah kerja/ kabur dalam waktu singkat 
                                li Ekspektasi yang terlalu tinggi sehingga ketika dihadapkan pada kenyataan muncul kekecewaan besar
                                li Menolak berjuang sehingga PMI tidak memiliki motivasi dan berakhir gagal fokus saat bekerja
                                li Culture shock yang mengakibatkan PMI bingung, tidak percaya diri dan berujung tidak betah
                                li Permasalahan pribadi yang berlarut/ sulit diselesaikan mampu mempengaruhi kesehatan mental PMI
                    hr

                section.pmi-scrollspy-content.adjust-anchor#daftar-dan-syarat
                    h4 Daftar &amp; Syarat Pengiriman Barang PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Berikut adalah daftar dan syarat pengiriman barang untuk Pekerja Migran Indonesia (PMI) yang perlu diperhatikan:
                            ol
                                li Barang Kiriman adalah barang yang dikirim melalui penyelenggara pos sesuai dengan ketentuan peraturan perundang-undangan di bidang pos (Pasal 1 ayat (4));
                                li Barang Kiriman PMI adalah Barang Kiriman yang dikirim oleh PMI dan memenuhi persyaratan tertentu, meliputi barang yang telah dipakai dan/ atau dimiliki oleh PMI (Pasal 1 ayat (5));
                                li Dokumen Pengiriman Barang (Consignment Note) yang selanjutnya disingkat CN adalah dokumen dengan kode CN-22/CN-23 atau dokumen sejenis yang merupakan dokumen perjanjian pengiriman barang antara pengirim barang dan Penyelenggara Pos untuk mengirimkan Barang Kiriman kepada penerima barang (Pasal 1 ayat 11);
                                li Sistem Komputer Pelayanan yang selanjutnya disingkat SKP adalah sistem komputer pelayanan yang digunakan oleh Kantor Pabean dalam rangka pengawasan dan pelayanan kepabeanan (Pasal 1 ayat 14);
                                li Pekerja Migran Indonesia yang mendapatkan fasilitas dimaksud sesuai dengan Pasal 2 yaitu, PMI yang tercatat pada lembaga pemerintah nonkementerian yang bertugas sebagai pelaksana kebijakan dalam pelayanan pelindungan PMI; atau PMI selain sebagaimana dimaksud pada huruf a, dengan ketentuan memiliki kontrak kerja yang telah diverifikasi oleh perwakilan Pemerintah Republik Indonesia di luar negeri.
                                li 
                                    p Barang milik PMI yang dapat diimpor sebagai berikut, 
                                    ul 
                                        li Barang Kiriman PMI;
                                        li Barang bawaan Penumpang; dan/ atau
                                        li Barang Pindahan.
                                li 
                                    p Persyaratan Impor Barang Kiriman PMI sebagaimana Pasal 3 harus memenuhi persyaratan. sebagai berikut:
                                    ul 
                                        li Dikirim oleh PMI yang sedang bekerja dan perkedudukan di luar wilayah Republik Indonesia;
                                        li Keperluan rumah tangga dan/atau barang konsumsi;
                                        li Bukan merupakan barang kena cukai;
                                        li Bukan merupakan telepon seluler, komputer genggam, dan/ atau komputer tablet;dan
                                        li Tidak untuk diperdagangkan.
                                        li Barang Kiriman PMI dikemas dalam kemasan paling besar berukuran:
                                            ul 
                                                li Panjang 60 (enam puluh) sentimeter;
                                                li Lebar 60 (enam puluh) sentimeter; dan - Tinggi 80 (delapan puluh) sentimeter.
                                li 
                                    p Perlakuan atas Bea Masuk dan Pajak Dalam Rangka Impor (PDRI). Barang Kiriman PMI yang tercatat pada lembaga pemerintah nonkementerian yang bertugas sebagai pelaksana kebijakan dalam pelayanan pelindungan PMI (SISKOP2MI) diberikan pembebasan bea masuk dengan ketentuan sebagai berikut:
                                        ul 
                                            li Jumlah pengiriman paling banyak 3 (tiga) kali dalam 1 (satu) tahun kalender; dan
                                            li Nilai pabean setiap pengiriman paling banyak FOB USD500.00 (lima ratus United States Dollar).
                                li 
                                    p Barang Kiriman PMI dengan kontrak kerja yang telah diverifikasi oleh perwakilan Pemerintah Republik Indonesia di luar negeri (Peduli WNI) diberikan pembebasan bea masuk dengan ketentuan sebagai berikut:
                                        ul 
                                            li Jumlah pengiriman paling banyak 1 (satu) kali dalam 1 (satu) tahun kalender; dan
                                            li Nilai pabean paling banyak FOB USD500.00 (lima ratus United States Dollar).
                                li 
                                    p Barang Kiriman PMI yang diberikan pembebasan bea masuk sebagaimana dimaksud
                                    ul 
                                        li Tidak dipungut PPN atau PPN dan PPnBM; dan
                                        li Dikecualikan dari pemungutan PPh Pasal 22 Impor
                                        li Pengecualian dari pemungutan PPh Pasal 22 Impor dilakukan tanpa surat keterangan bebas.
                                        li Jumlah pengiriman dalam 1 (satu) tahun kalender sebagaimana dimaksud pada ayat (1) huruf a dan ayat (2) huruf a, dihitung berdasarkan pada tanggal pendaftaran CN.
                                        li Untuk keperluan data nilai pembebasan bea masuk, digunakan tarif pembebanan bea masuk sebesar 7,5% (tujuh koma lima persen).
                                li 
                                    p Barang Kiriman PMI yang nilai pabeannya melebihi ketentuan, atas kelebihannya (Pasal 5):
                                        ul 
                                            li Dipungut bea masuk dengan tarif pembebanan sebesar 7 ,5% (tujuh koma lima persen);
                                            li Dipungut PPN atau PPN dan PPnBM sesuai dengan ketentuan peraturan perundang-undangan yang mengatur mengenai Pajak Pertambahan Nilai barang dan jasa dan Pajak Penjualan atas Barang Mewah; dan
                                            li Dipungut PPh Pasal 22 Impor sesuai dengan ketentuan peraturan perundang-undangan yang mengatur. mengenai Pajak Penghasilan.
                                li 
                                    p Pemberitahuan Pabean lmpor Barang Kiriman PMI (Pasal 9)
                                    ul 
                                        li Barang Kiriman PMI dapat dikeluarkan dari Kawasan Pabean atau tempat lain yang diperlakukan sama dengan TPS dengan tujuan diimpor untuk dipakai setelah Penyelenggara Pos menyampaikan CN ke Kantor Pabean.
                                        li CN sebagaimana dimaksud pada ayat (1) disampaikan melalui SKP.
                                        li CN sebagaimana dimaksud pada ayat (1) merupakan pemberitahuan pabean dan diberikan tanggal pendaftaran.
                                        li CN sebagaimana dimaksud pada ayat (1) memuat elemen data:
                                        li nomor identitas Barang Kiriman;
                                        li nomor dan tanggal pemberitahuan pabean kedatangan sarana pengangkut (inward manifest);
                                        li negara asal;
                                        li berat kotor (brutto);
                                        li biaya pengangkutan/ pengiriman;
                                        li Asuransi,jikaada;
                                        li harga barang dalam cara penyerahan {incoterm) Free on Board {FOB); 
                                        li mata uang;
                                        li Nilai dasar penghitungan beamasuk {NDPBM);
                                        li Uraian jumlah dan jenis barang;
                                        li pos tarif/HS code;
                                        li Nomor dan tanggal invoice,jika ada;
                                        li nama dan lamat pengirim;
                                        li nomor identitas pengirim berupa Nomor Induk Kependudukan (NIK);
                                        li nomor telepon pengirim, jika ada;
                                        li nama dan alamat Penerima Barang;
                                        li Nomor Pokok Wajib Pajak (NPWP) Penerima Barang, jika tidak ada dapat menggunakan nomor identitas lain berupa Nomor Induk Kependudukan (NIK); dan
                                        li nomor telepon Penerima Barang, jika ada.
                                li 
                                    p Pasal 10 ayat 1 Sistem Komputer Pelayanan (SKP) , melakukan penelitian atas Dokumen Pengiriman Barang ( Consignment Note) (CN) sebagaimana dimaksud dalam Pasal 9 ayat (1) terkait dengan pemenuhan ketentuan mengenai:

                                li 
                                    p Dalam hal ketentuan sebagaimana dimaksud pada Pasal 10 ayat (1) tidak terpenuhi, terhadap Barang Kiriman PMI:
                                    ul 
                                        li Diekspor kembali; atau
                                        li Diselesaikan sesuai dengan ketentuan peraturan perundang-undangan yang mengatur mengenai ketentuan kepabeanan, cukai, dan pajak atas impor dan ekspor barang kiriman.
                                
                                li 
                                    p Impor Barang Bawaan Penumpang Pmi (Pasal 16)
                                    ul 
                                        li Barang milik PMI berupa telepon seluler, komputer genggam, dan/ atau komputer tablet yang diimpor sebagai barang bawaan Penumpang diberikan pembebasan bea masuk.
                                        li Pembebasan bea masuk sebagaimana dimaksud pada. ayat (1) diberikan dengan ketentuan sebagai berikut:
                                            ul 
                                                li Diimpor oleh PMI sebagaimana dimaksud dalam Pasal 2 ayat ( 1); dan
                                                li Paling banyak 2 (dua) unit yang diimpor dalam 1 (satu) kali kedatangan dalam periode 1 (satu) tahun.
                                                li Barang milik PMI berupa telepon seluler, komputer genggam, dan/ atau komputer tablet yang diberikan pembebasan bea masuk sebagaimana dimaksud pada ayat (2):
                                                li Tidak dipungut PPN atau PPN dan PPnBM; dan
                                                li Dikecualikan dari pemungutan PPh Pasal 22 Impor.
                                li 
                                    p Impor Barang Pindahan PMI (Bab IV) 
                                    p Barang keperluan rumah tangga PMI yang diimpor sebagai Barang Pindahan diberikan pembebasan bea masuk (ayat 1).
                    hr
            