section.bg-body-tertiary
    .container.py-3.py-lg-4.px-4.px-md-0
        .row.d-flex.justify-content-center
            .col-lg-8.text-center
                h3 Kalkulator Konversi Mata Uang
            .col-lg-6.text-center
                p.mt-2 Kalkulator ini membantu Anda mengonversi nilai mata uang dari Rupiah ke mata uang negara tujuan secara otomatis berdasarkan kurs terkini.
        .row.d-flex.justify-content-center.mt-3
            iframe(title="fx" src="https://wise.com/id/currency-converter/fx-widget/converter?sourceCurrency=SGD&targetCurrency=IDR&amount=10" height=290 width=700 frameBorder="0" allowtransparency="true")