// Hero Migrasi Aman
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/disiplin-menabung.svg", alt="Buku Saku Literasi Keuangan")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Buku Saku Literasi Keuangan

            .col-lg-10
                p.text-secondary 
                    | PMI kini mendapatkan fasilitas pembebasan biaya masuk untuk barang kiriman sesuai aturan terbaru. Dengan memahami ketentuan ini, PMI bisa mengirimkan barang dari luar negeri ke Indonesia dengan lebih aman, mudah, dan hemat.

        