section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#pengantar-buku-saku") Pengantar 
                        li
                            a(href="#unduh-buku-saku") Unduk Buku Saku

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#pengantar-kirim-barang
                    h4 Pengantar 
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p informasi mengenai pembebasan biaya masuk barang kiriman PMI (<a href="https://jdih-old.kemenkeu.go.id/download/2ad57359-063b-4014-b932-e94a29d39486/2023pmkeuangan141.pdf" target="_blank" class="text-link">Peraturan Menteri Keuangan Nomor 141 tahun 2023</a>)
                            p Beberapa materi Peraturan Menteri Keuangan Nomor 141 tahun 2023 tentang Ketentuan Impor Barang Pekerja Migran Indonesia 

                    hr
                section.pmi-scrollspy-content.adjust-anchor#kendala-yang-sering-dihadapi-pmi
                    h4 Kendala Yang sering Dihadapi PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                           p dari beberapa pengalaman kami, ada beberapa kendala yang sering kali dihadapi oleh para Pekerja Migran Indonesia saat bekerja di luar negeri, apa saja itu, berikut penjerlasannya : 
                            ol 
                                li Keterbatasan bahasa, pengetahuan dan kompetensi yang mengakibatkan para PMI tidak dapat beradaptasi dengan baik.
                                li Menolak beradaptasi yang berujung PMI memutuskan pindah kerja/ kabur dalam waktu singkat 
                                li Ekspektasi yang terlalu tinggi sehingga ketika dihadapkan pada kenyataan muncul kekecewaan besar
                                li Menolak berjuang sehingga PMI tidak memiliki motivasi dan berakhir gagal fokus saat bekerja
                                li Culture shock yang mengakibatkan PMI bingung, tidak percaya diri dan berujung tidak betah
                                li Permasalahan pribadi yang berlarut/ sulit diselesaikan mampu mempengaruhi kesehatan mental PMI
                    hr
