section
  .container.py-3.py-lg-4.px-4.px-md-0
    #country-category-list.row
      .col-12.col-lg-6.mb-3.mb-lg-4.px-4
        a#country-category-link.row.border.px-2.py-3.rounded.card-link-box(href="#")
          .col-12.col-lg-4.text-center.bg-techno.techno-2
            img.pmi-image-thumbnail.mb-3.mb-lg-0(src=baseURL+"img/man-on-desk2.svg", alt="")
          .col-12.col-lg-8
            h5#country-category -
            p#country-category-description.fs-7.text-secondary - 
            .d-flex.fs-7.text-primary
                | Selengkapnya 
                i.bi.bi-chevron-right