// Hero
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        //- .col-12
        //-     ol.breadcrumb.fs-7
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'/')
        //-                     i.bi.bi-house
        //-             li.breadcrumb-item
        //-                 a.text-primary(href=baseURL+'negara/') Semua Negara
        //-             li.breadcrumb-item.active(aria-current='page') Hongkong

        .col-md-7.mt-3.mt-md-0.content-hero
            .d-flex.mb-4
                img#country-flag.me-3.border(src="", alt="" height="64")
                h1#country-name-h1.display-4.font-weight-bold.mb-3
                    | -

            .col-lg-10
                p#country-desc.text-secondary
                   -
        .col-md-5.p-0
            img#country-img.mw-100.hero-mask(loading="lazy" src=baseURL+"img/course-placeholder.webp" alt="Negara Tujuan PMI")