// Hero Migrasi Aman
section.section-hero
  .container.py-3.py-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center.flex-row-reverse
        .col-md-5.p-0
            img.hero-image(src=baseURL+"img/hero-negara.svg", alt="Migrasi Aman")

        .col-md-7.mt-3.mt-md-0.content-hero
            h1.display-4.font-weight-bold.mb-3
                | Migrasi Aman

            .col-lg-10
                p.text-secondary 
                    | Migrasi aman dimulai dari persiapan yang matang. Dengan bekal mental, fisik, pengetahuan, dan dokumen yang lengkap, PMI bisa lebih siap menghadapi tantangan dan meraih kesuksesan di negeri orang.

        