section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li
                            a(href="#pengantar-migrasi-aman") Pengantar 
                        li
                            a(href="#kendala-yang-sering-dihadapi-pmi") Kendala Yang sering Dihadapi PMI
                        li
                            a(href="#kunci-suksesmu-di-negeri-orang") Calon PMI HARUS Siap: Kunci Suksesmu di Negeri Orang!
                        li
                            a(href="#taklukkan-tantangan-raih-kesuksesan") Saat Berjuang – Taklukkan Tantangan, Raih Kesuksesan!
                        li
                            a(href="#mengapa-etos-kerja-itu-penting-banget") Mengapa Etos Kerja Itu Penting Banget?
                        li 
                            a(href="#5-poin-penting") Rahasia Etos Kerja Hebat: 5 Poin Penting!
                        li
                            a(href="#bangun-masa-depan-gemilang") Setelah Kembali – Bangun Masa Depan Gemilang!

            article#country-category-content.jari-sidebar-content.col-lg-9.content-article
                section.pmi-scrollspy-content.adjust-anchor#pengantar-migrasi-aman
                    h4 Pengantar 
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Para Calon Pekerja Migran Indonesia (CPMI) yang kami hormati dan kami banggakan. Kami tahu, meninggalkan tanah air untuk mencari nafkah itu bukanlah hal mudah. Ada banyak harapan orang-orang tersayang yang diletakan diatas pundak kalian. 
                            p Jangan khawatir! Buku saku ini akan jadi teman setia perjalananmu, dari persiapan di rumah, saat berjuang di negeri orang, sampai kembali lagi ke pelukan keluarga. 
                            p Siapkah kamu menyerap ilmu dan tips jitu agar perjalananmu lancar, aman, dan sukses? Yuk, kita mulai petualangan ini!
                    hr
                section.pmi-scrollspy-content.adjust-anchor#kendala-yang-sering-dihadapi-pmi
                    h4 Kendala Yang sering Dihadapi PMI
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                           p dari beberapa pengalaman kami, ada beberapa kendala yang sering kali dihadapi oleh para Pekerja Migran Indonesia saat bekerja di luar negeri, apa saja itu, berikut penjerlasannya : 
                            ol 
                                li Keterbatasan bahasa, pengetahuan dan kompetensi yang mengakibatkan para PMI tidak dapat beradaptasi dengan baik.
                                li Menolak beradaptasi yang berujung PMI memutuskan pindah kerja/ kabur dalam waktu singkat 
                                li Ekspektasi yang terlalu tinggi sehingga ketika dihadapkan pada kenyataan muncul kekecewaan besar
                                li Menolak berjuang sehingga PMI tidak memiliki motivasi dan berakhir gagal fokus saat bekerja
                                li Culture shock yang mengakibatkan PMI bingung, tidak percaya diri dan berujung tidak betah
                                li Permasalahan pribadi yang berlarut/ sulit diselesaikan mampu mempengaruhi kesehatan mental PMI
                    hr

                section.pmi-scrollspy-content.adjust-anchor#kunci-suksesmu-di-negeri-orang
                    h4 Calon PMI HARUS Siap: Kunci Suksesmu di Negeri Orang!
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Menjadi PMI itu bukan sekadar pergi ke luar negeri untuk bekerja, tapi sebuah perjalanan besar yang butuh persiapan matang sebelum berangkat. Ini dia poin-poin penting yang wajib kamu siapkan:
                            h5.fs-5 1. Siap Mental
                            p Ini yang paling utama! Kamu akan jauh dari keluarga, menghadapi budaya baru, dan mungkin tekanan dalam pekerjaan. Mental yang kuat akan membantumu tetap positif, tidak mudah menyerah, dan bisa beradaptasi dengan cepat. Bayangkan saja, kalau mentalmu tidak kuat, maka pikiran akan terganggu dan berdampak dengan performa kerja, serta yang paling parah anda dapat jatuh sakit karena terlalu banyak beban yang dipikirkan. 
                            p 
                                b 3 Ciri Utama Kuat Mental:
                            ol.mb-4 
                                li Punya kecerdasan emosi yang tinggi (berpikir sebelum bertindak, serta mampu menanggapi secara positif kejadian yang tidak terduga);
                                li Punya pendirian yang kuat (memiliki prinsip dalam hidup, percaya diri dan berani mengemukakan pendapat);
                                li Bisa menerima kenyataan (mampu mengenali kekurangan diri, mencintai diri dan terus belajar untuk memperbaiki diri).
                            p 
                                b Tips Agar Siap Mental
                            ol.mb-4 
                                li Memiliki arah dan tujuan yang jelas alasan bekerja ke Luar Negeri
                                li Belajar kenali emosi / perasaan diri sendiri
                                li Belajar untuk mengungkapkan emosi / perasaan
                                li Belajar berdamai dengan kenyataan dalam hidup
                                li Belajar menerima dan mensyukuri segala hal yang diperoleh
                                li Menjaga kesehatan fisik dengan baik

                            h5.fs-5 2. Siap Fisik
                            p Kamu butuh kondisi <b>tubuh yang prima</b>. Sebelum berangkat, akan ada pemeriksaan kesehatan. Pastikan kamu sehat jasmani dan rohani agar bisa beradaptasi dengan kondisi iklim dan lingkungan yang baru sehingga kamu dapat bekerja dengan baik dan tidak mudah sakit di negeri orang. Kesehatanmu adalah modal utamamu!

                            h5.fs-5 3. Siap Bahasa
                            p Ini bekal penting untuk pekerjaanmu.
                            ol.mb-4
                                li <b>Bahasa</b>: Kamu harus bisa berkomunikasi! Kuasai bahasa negara tujuan, setidaknya dasar-dasarnya. Ini akan memudahkanmu berinteraksi dengan majikan, rekan kerja, dan masyarakat disekitarmu.
                                li <b>Pengetahuan</b>: Pahami dengan baik mengenai pekerjaan yang akan kamu jalani. Cari tahu tentang budaya dan kebiasaan di negara tujuan agar tidak kaget dan dapat menghindari permasalahan hukum dan sosial di negera tujuan.
                                li <b>Kompetensi</b>: Asah keahlianmu sesuai bidang pekerjaan. Kalau mau jadi asisten rumah tangga, pelajari cara mengurus rumah dan merawat lansia. Kalau mau jadi pekerja pabrik, pahami alur kerjanya. Semakin kompeten, semakin besar peluangmu sukses.
                            
                            h5.fs-5 4. Siap Dokumen
                            p <b>Kelengkapan dan keabsahan dokumen itu wajib</b>! Mulai dari paspor, visa kerja, hingga kontrak kerja. Pastikan semuanya asli, lengkap, dan sah. Jangan sampai ada dokumen palsu atau kurang, ini bisa bikin kamu tersandung masalah hukum di kemudian hari. Jalur resmi itu paling aman!

                            h5.fs-5 5. Siap Visi
                            p Apa tujuanmu bekerja di luar negeri? Hanya sekadar mencari uang? Atau punya <b>target yang jelas</b> seperti ingin membangun rumah, menyekolahkan adik, atau memulai usaha? Visi yang jelas akan menjadi <b>motivasimu</b> saat menghadapi kesulitan. Kamu akan tahu untuk apa kamu berjuang dan berhemat.

                            h5.fs-5 Siap Finansial
                            p Meskipun tujuan utamamu mencari uang, kamu harus 
                                a.text-link.fw-bold(href="/informasi-keuangan" target="_blank") siap secara finansial
                                |  saat berangkat, saat bekerja, dan kesiapan finansial setelah kontrak bekerja di luar negeri selesai. seperti  biaya-biaya resmi yang perlu dikeluarkan saat proses pemberangkatan, jangan sampai terlilit utang di lembaga non formal dengan bunga tinggi. Anda dapat memanfaatkan fasilitas pemerintah melalui lembaga keuangan resmi seperti Kredit Usaha Rakyat (KUR) sebagai opsi pinjaman saat hendak berangkat bekerja ke luar negeri.
                            p Punya sedikit dana darurat juga penting untuk pegangan awal di sana.
                    hr
                
                section.pmi-scrollspy-content.adjust-anchor#taklukkan-tantangan-raih-kesuksesan
                    h4 Saat Berjuang – Taklukkan Tantangan, Raih Kesuksesan!
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Kamu sudah sampai di negeri tujuan! Selamat! Sekarang saatnya beradaptasi, bekerja keras, dan selalu waspada. Ingat, kamu tidak sendiri. Beradaptasi di negeri orang itu butuh trik jitu! Ini dia tips-tips penting yang bisa bikin kamu cepat nyaman dan sukses di sana, khusus buat kamu para Pekerja Migran Indonesia (PMI):
                            h5.fs-5 Jitu Beradaptasi di Negeri Orang: Sanggup Bertahan dan Sukses!
                            p Selamat datang di petualangan barumu! Menginjakkan kaki di negeri orang itu seperti masuk ke dunia baru. Ada banyak hal menarik, tapi juga tantangan. Supaya kamu cepat betah dan bisa bekerja dengan tenang, yuk simak tips-tips berikut ini:
                            ol 
                                li 
                                    b Pelajari Budaya dan Kebiasaan Setempat
                                    p Setiap negara punya keunikan dan kebiasaannya sendiri. Apa yang biasa di Indonesia, mungkin berbeda di sana. Misalnya, cara bicara, cara makan, atau bahkan kebiasaan di rumah.
                                    ul 
                                        li <b>Contoh</b>: Di beberapa negara, membuang sampah sembarangan itu pelanggaran besar. Atau, di meja makan, mungkin ada etika tertentu yang harus diikuti.
                                        li <b>Kenapa Penting?</b> Dengan memahami dan membiasakan diri, kamu akan <b>lebih mudah diterima</b> oleh orang-orang di sekitarmu. Kamu juga tidak akan merasa kaget atau salah tingkah. Ibaratnya, kamu sedang belajar "bahasa" baru, bukan hanya bahasa lisan, tapi juga bahasa tingkah laku. Ini akan membuat harimu lebih nyaman dan menyenangkan!
                                li
                                    b Patuhi Aturan Setempat
                                    p Negara punya undang-undang dan peraturan yang harus dipatuhi semua orang, termasuk kamu. Ini bukan cuma soal hukum pidana seperti mencuri, tetapi juga peraturan-peraturan lain yang mungkin tidak kamu sadari.
                                    ul 
                                        li <b>Contoh</b>: Batas kecepatan berkendara, larangan merokok di tempat umum tertentu, atau aturan jam malam. Bahkan, hal sekecil membuang puntung rokok sembarangan bisa jadi masalah.
                                        li <b>Kenapa Penting?</b> Mematuhi aturan itu juga untuk <b>melindungi dirimu sendiri</b>. Kalau kamu melanggar, bisa-bisa kena denda, dipenjara, atau bahkan dideportasi (dipulangkan paksa). Jangan sampai masa depanmu terancam hanya karena tidak tahu atau meremehkan aturan. Hormati hukum mereka, dan kamu akan merasa aman di sana.
                                li
                                    b Senantiasa Menjaga Kebersihan dan Ketertiban Lingkungan
                                    p Ini bukan hanya soal menjaga rumah tetap bersih, tapi juga lingkungan sekitarmu, bahkan dirimu sendiri.
                                    ul 
                                        li <b>Contoh</b>: Selalu buang sampah pada tempatnya, jaga kerapian barang-barang pribadimu, dan jangan membuat gaduh di lingkungan tempat tinggal. Mandi teratur dan berpakaian rapi juga bagian dari menjaga kebersihan diri.
                                        li <b>Kenapa Penting?</b> Lingkungan yang bersih dan tertib itu bikin <b>hati tenang dan nyaman</b>. pemberi kerja pun akan senang melihatmu rapi dan peduli. Tetangga pun akan menghargaimu. Ini juga mencerminkan citra baik bangsa Indonesia di mata dunia. Ingat, kamu adalah duta (citra) Indonesia di sana!
                                li
                                    b Manfaatkan Kesempatan Selama di Luar Negeri
                                    p Kamu sudah jauh-jauh merantau, jangan hanya fokus bekerja! Ada banyak hal positif yang menyenangkan perlu kamu rasakan.
                                    ul 
                                        li <b>Contoh</b>: Pelajari bahasa setempat lebih dalam, ikuti pelatihan atau kursus (jika ada dan memungkinkan) untuk menambah keahlian, atau bisa juga mengeksplorasi lebih jauh tentang budaya dan keindahan alam negara itu di waktu luang. Jalin pertemanan dengan sesama PMI dan warga lokal disana.
                                        li <b>Kenapa Penting?</b>  waktu-waktu kamu saat di luar negeri itu adalah <b>peluang emas</b> untuk mengembangkan diri. Kamu bisa pulang dengan membawa bukan hanya uang, tapi juga pengalaman, ilmu baru, dan bahkan keahlian yang bisa jadi modal untuk usaha atau pekerjaan lain di Indonesia nanti. Jangan sia-siakan waktu dan kesempatan berhargamu!
                                li
                                    b Cerdas Gunakan Media Sosial
                                    p Media sosial itu pisau bermata dua. Bisa jadi teman baik, bisa juga jadi bumerang kalau tidak hati-hati.
                                    ul 
                                        li <b>Contoh</b>: Hindari mengunggah keluhan tentang pekerjaan atau majikanmu di media sosial. Jangan membagikan informasi pribadi atau dokumen penting. Waspada terhadap penipuan online. Gunakan media sosial untuk tetap berkomunikasi dengan keluarga, teman, atau mencari informasi positif dan hiburan.
                                        li <b>Kenapa Penting?</b> Apa pun yang kamu unggah di media sosial bisa dilihat banyak orang, termasuk majikanmu atau pihak berwenang. Kesalahan kecil di media sosial bisa berakibat fatal pada pekerjaan atau status visamu. Gunakanlah <b>secara bijak dan positif</b> untuk menjaga komunikasi dan mendapatkan informasi yang bermanfaat.
                    hr
                
                section.pmi-scrollspy-content.adjust-anchor#mengapa-etos-kerja-itu-penting-banget
                    h4 Mengapa Etos Kerja Itu Penting Banget?
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Bayangkan kamu sedang membangun sebuah rumah. Etos kerja itu ibarat <b>fondasi rumahmu</b>. Tanpa fondasi yang kuat, rumah bisa roboh kapan saja, kan? Sama halnya dengan pekerjaanmu. Etos kerja adalah sikap dan semangatmu dalam bekerja. Ini bukan cuma soal berapa jam kamu bekerja, tapi <b>bagaimana kamu bekerja</b>.
                            p Etos kerja yang baik itu kunci utama buat:
                            ul 
                                li <b>Sukses dan Berkembang</b>: Kamu akan lebih mudah mencapai tujuanmu, bahkan bisa naik posisi atau gaji.
                                li <b>Dihargai Pemberi Kerja</b>: Pemberi Kerja akan senang punya pekerja yang rajin, jujur, dan bertanggung jawab. Ini bisa jadi modalmu kalau mau perpanjang kontrak atau cari kerja di tempat lain.
                                li <b>Hidup Lebih Tenang</b>: Kalau pekerjaanmu beres dan kamu merasa produktif, pikiranmu juga akan lebih nyaman dan tentram.
                                li <b>Membangun Reputasi Baik</b>: Kamu akan dikenal sebagai orang yang dapat diandalkan. Ini penting banget, apalagi di negeri orang.
                            p Singkatnya, etos kerja itu cerminan dirimu dan kunci masa depanmu!
                    hr

                section.pmi-scrollspy-content.adjust-anchor#5-poin-penting
                    h4 Rahasia Etos Kerja Hebat: 5 Poin Penting!
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Nah, untuk punya etos kerja yang kuat, ada beberapa hal yang bisa kamu latih setiap hari. Ini dia rahasianya:
                            h5.fs-5 1. Tentukan Tujuan yang Ingin Dicapai
                            p Sama seperti kamu berangkat ke luar negeri punya tujuan (misalnya, mau bangun rumah, modal usaha, atau biaya sekolah anak), dalam pekerjaan pun kamu harus punya tujuan. <b>Apa yang mau kamu capai hari ini? Minggu ini? Bulan ini?</b>
                            ul 
                                li <b>Contoh</b>: Hari ini targetmu selesai menyetrika semua pakaian di rumah. Minggu ini, kamu ingin belajar satu resep masakan baru. 
                                li <b>Kenapa Penting?</b> Dengan tujuan yang jelas, kamu punya arah. Kamu jadi tahu apa yang harus dilakukan dan tidak buang-buang waktu. Ini bikin kerjamu lebih fokus dan efisien.
                            h5.fs-5 2. Terorganisir
                            p Ini bukan berarti kamu harus jadi orang paling rapi sedunia, ya! Tapi, <b>punya sistem dalam bekerja itu penting</b>.
                            ul 
                                li <b>Contoh</b>: Buat daftar pekerjaan harian, siapkan alat-alat yang dibutuhkan sebelum mulai bekerja, atau tata barang-barang agar mudah dicari. Kalau kamu mengurus anak, siapkan jadwal kegiatan mereka.
                                li <b>Kenapa Penting?</b> Hidup yang terorganisir itu bikin kerjaanmu lebih mudah dan cepat selesai. Kamu tidak pusing mencari ini itu, tidak lupa apa yang harus dikerjakan, dan majikanmu pun akan melihatmu sebagai orang yang sigap dan rapi.
                            h5.fs-5 3. Kurangi Distraksi dari Diri Sendiri
                            p Coba jujur, kadang kita sendiri yang bikin kerjaan jadi lama karena terlalu banyak “gangguan" dari diri sendiri.
                            ul 
                                li <b>Contoh</b>: Sering banget kan, kita tergoda buat cek HP terus, ngobrol panjang lebar dengan teman, atau malah nonton video lucu di internet saat seharusnya lagi kerja? Nah, coba deh atur waktu khusus untuk istirahat dan hiburan, jangan pas lagi kerja.
                                li <b>Kenapa Penting?</b> Dengan mengurangi distraksi, kamu bisa lebih fokus dan cepat menyelesaikan pekerjaan. Hasilnya pun akan lebih baik, dan kamu punya lebih banyak waktu luang untuk hal-hal yang kamu suka.
                            h5.fs-5 4. Kerja dan Hidup Seimbang
                            p Nah, ini sering salah paham. Etos kerja itu bukan berarti kerja terus sampai lupa segalanya. Justru, <b>keseimbangan itu penting untuk menjaga semangatmu</b>.
                            ul
                                li <b>Contoh</b>: Setelah selesai bekerja, luangkan waktu untuk dirimu sendiri. Telepon keluarga, nonton film, membaca buku, atau berolahraga ringan. Di hari libur, gunakan untuk istirahat penuh atau bersosialisasi dengan teman.
                                li <b>Kenapa Penting?</b> Kalau kamu kerja terus tanpa istirahat, tubuh dan pikiranmu akan cepat lelah. Ujung-ujungnya, bosan, kualitas kerjamu menurun dan kamu bisa stres. Dengan hidup seimbang, kamu jadi lebih segar, semangat, dan siap menghadapi hari kerja berikutnya.
                            h5.fs-5 5. Percaya dan Dengarkan Diri Sendiri
                            p Ini tentang kepercayaan diri dan kemampuanmu untuk mengambil keputusan yang tepat.
                            ul 
                                li <b>Contoh</b>: Kalau kamu merasa ada cara yang lebih efisien untuk melakukan sesuatu, coba sampaikan dengan sopan kepada Pemberi Kerja. Jika kamu merasa perlu istirahat karena sakit, dengarkan tubuhmu dan sampaikan. Percaya pada instingmu dan kemampuanmu untuk menyelesaikan masalah.
                                li <b>Kenapa Penting?</b> Kamu tahu batasan dan kemampuanmu. Dengan percaya diri, kamu bisa bekerja lebih mandiri dan inovatif. Mendengarkan diri sendiri juga berarti kamu menjaga kesehatan mental dan fisikmu, yang pada akhirnya menunjang kinerja kerjamu. Jangan takut untuk menyampaikan pendapat atau kebutuhanmu dengan cara yang baik dan sopan.

                    hr
                
                section.pmi-scrollspy-content.adjust-anchor#bangun-masa-depan-gemilang
                    h4 Setelah Kembali – Bangun Masa Depan Gemilang!
                    .row
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Selamat datang kembali di tanah air! Setelah berjuang di negeri orang, kini saatnya menikmati hasilnya dan merencanakan masa depan yang lebih baik.
                            h5.fs-5 1. Kembali ke Tanah Air: Lepas Lelah, Sambut Masa Depan!
                            ul 
                                li <b>Siapkan Diri Sebelum Pulang</b>: Pastikan semua urusan di negara penempatan selesai, termasuk keuangan dan dokumen.
                                li <b>Jalur Resmi Kembali</b>: Pulang melalui jalur resmi akan memudahkanmu dalam proses administrasi dan perlindungan.
                                li <b>Manfaatkan Layanan Kepulangan</b>:  KP2MI/BP2MI menyediakan beberapa layanan di bandara seperti Lounge dan Helpdesk untuk menjadi tempat singgah selama menunggu penerbangan berikutnya ke daerah asal. 
                                    p Berikut daftar Lounge yang ada di Bandara Indonesia disediakan Khusus bagi Pekerja Migran Indonesia (GRATISSS!!)
                                    ol 
                                        li Bandara Soekarno-Hatta, Tangerang, Banten (Terminal 3 Kedatangan Internasional)
                                        li Bandara Kualanamu, Medan, Sumatera Utara
                                        li Bandara International Yogyakarta, Kulonprogo, Daerah Istimewa Yogyakarta
                                        li Bandara Internasional Ahmad Yani, Semarang, Jawa Tengah
                                        li Bandara Internasional Juanda, Surabaya, Jawa Timur
                                        li Bandara Internasional I Gusti Ngurah Rai, Badung, Bali
                                        li Bandara Internasional Lombok, Lombok Tengah. Nusa Tenggara Barat

                            h5.fs-5 2. Kelola Hasil Kerja Kerasmu: Wujudkan Impianmu!
                            ul 
                                li <b>Gunakan jasa layanan money changer yang Resmi dan murah </b>: jangan mudah percaya dengan jasa penukaran uang yang tidak jelas legalitasnya, pastikan agar penukaran uang kamu dengan rate yang tidak merugikan kamu.
                                li <b>Gunakan Uang dengan Bijak</b>: Jangan langsung menghabiskan hasil jerih payahmu. Buat rencana keuangan yang matang.
                                li <b>Investasi atau Usaha</b>: Pertimbangkan untuk berinvestasi (tanah, properti, emas) atau memulai usaha sendiri. Manfaatkan keahlian dan modal yang kamu miliki.
                                li <b>Pelatihan Wirausaha</b>: Banyak lembaga yang menyediakan pelatihan kewirausahaan gratis bagi PMI purna. Manfaatkan kesempatan ini!
                                li <b>Rencana Jangka Panjang</b>: Pikirkan tentang pendidikan anak, hari tua, atau impian besar lainnya.
                            h5.fs-5 3. Jadilah Inspirasi: Berbagi Pengalaman, Membangun Negeri!
                            ul 
                                li <b>Berbagi Cerita</b>: Pengalamanmu berharga! Bagikan kisah suksesmu, tapi juga pelajaran dari tantangan yang kamu hadapi.
                                li <b>Bantu Sesama</b>: Jadilah mentor bagi calon PMI lain. Berikan informasi yang benar dan bimbing mereka agar tidak tersesat.
                                li <b>Berkontribusi untuk Negeri</b>: Dengan kembalinya kamu, artinya bertambah lagi putra-putri terbaik bangsa yang siap membangun Indonesia. Terus berkarya di mana pun kamu berada!
                    hr
                article.jari-sidebar-content
                    p Ingat! Kamu adalah aset bangsa yang berharga. Jangan pernah ragu mencari bantuan jika kamu membutuhkan. Selalu ada pihak yang peduli dan siap membantumu.
            