//- .card-body
//-   h6.mb-1.course-title.text-capitalize(title='Memasarkan Produk dengan Facebook Marketing untuk Pedagang Online') Memasarkan Produk dengan Facebook Marketing untuk Pedagang Online
//-   .d-flex.my-2
//-     span.badge.text-bg-light.text-capitalize.badge-ellipsis(title='Penjualan dan Pemasaran') Penjualan dan Pemasaran
//-     span.badge.text-bg-light.trending.text-capitalize &#x1F525; Trending
//-   div
//-     .course-real-price.mb-1
//-       span Rp 450.000
//-       span.badge.text-bg-ghost-success 100%
//-     .course-price.card-price.mb-1 Gratis

section
    #container-pelatihan-serupa.container.py-3.py-lg-4.px-4.px-md-0
        .d-block.d-lg-flex.align-items-center.justify-content-between
            div.mb-3.mb-lg-0
                h3.custom-rfs-h5 Pelatihan Serupa
            div.d-flex.align-items-center.gap-3.justify-content-between
                a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-course-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-course-next
                        i.bi.bi-chevron-right
            
        .swiper.courseSwiper.mt-4
            #list-pelatihan-serupa.swiper-wrapper.pb-3
                .swiper-slide