section
  .container.py-3.py-lg-4.px-4.px-md-0
    .row 
      .col-lg-3 
        //- Displayed on mobile screen only screen-xs to screen-lg
        .d-block.d-lg-none
          .row.justify-content-center
            .col-12.col-md-8
              button#show-filter-pelatihan.btn.btn-outline-primary.w-100.mb-4(data-bs-toggle="modal" data-bs-target="#filterPelatihan")
                i.bi.bi-filter.me-2
                | Filter Pelatihan

        //- Displayed on desktop screen only (min-width = screen-lg)
        .d-none.d-lg-block
          div.mb-4
            h6
              i.bi.bi-filter.me-2
              | Filter Pelatihan

          include section_course_filter.pug

      .col-lg-9
        include section_course_content.pug