section.section-detail-course
    .container.pb-5.pt-3.px-4.px-md-0
        .row.flex-row-reverse
            // thumbnail & cta
            .col-12.col-lg-4
                .course-cover-sticky
                    .course-cover
                        img#detail-course-image.w-100.rounded(loading="lazy" src=baseURL+"img/course-placeholder.webp" alt="")
                    .mt-3.d-flex.justify-content-between
                        div
                            .course-real-price.mb-1
                                span#detail-course-price.me-1
                                    span.skeleton-box.rounded-2(style="height: 14px; width:72px")
                                span#detail-course-discount.badge.text-bg-success 100%
                            #detail-course-final-price.course-price.card-price.mb-1.fs-4
                                span.skeleton-box.rounded-2(style="height: 18px; width:72px")
                        div
                            button.btn.btn-light.share-button(type='button' title='Bagikan halaman ini')
                                i.bi.bi-share-fill &nbsp;&nbsp;
                                | Bagikan
                    div.course-cta.px-lg-0
                        a#get-voucher-btn.my-3.btn.btn-primary.btn-lg.w-100(href="" alt="" target="_blank")
                            | Dapatkan Voucher Pelatihan 
                //- p.text-secondary
                //-     b.fs-7 103
                //-     | &nbsp; peserta mengambil pelatihan ini


            // detail course content
            .col-12.col-lg-8.pe-xl-4(name='detail-course-title')
                h1#detail-course-title.mb-3(name='detail-course-title') 
                    span.skeleton-box.rounded-2(style="height: 32px; width:100%")
                    span.skeleton-box.rounded-2(style="height: 32px; width:70%")

                a.card-company-link.d-inline-flex.p-2.text-decoration-none.border(href="#")
                    img#detail-course-logo.me-1.card-logo(src=baseURL+"img/logo-course-placeholder.webp" alt="")
                    span#detail-course-logo-name.lp-name.fs-7.text-secondary 
                        span.skeleton-box.rounded-2(style="height: 16px; width:128px")

                .row.mt-5.mb-4 

                    //- .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                    //-     i.bi.bi-buildings
                    //-     div.ps-2.overflow-hidden
                    //-         h6.fs-7.mb-1
                    //-             | Lembaga Pelatihan
                    //-         a.card-company-link(href="#")
                    //-             img.me-2.card-logo(src=baseURL+"img/logo-rk.svg")
                    //-             span.fs-7.pds-truncate Thunderbird School Of Global Management, Arizona State University

                    //- .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                    //-     i.bi.bi-person-badge
                    //-     div.ps-2 
                    //-         h6.fs-7.mb-2
                    //-             | Instruktur
                    //-         p.fs-7 Yunita

                    //- .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                    //-     i.bi.bi-clock 
                    //-     div.ps-2 
                    //-         h6.fs-7.mb-2
                    //-             | Durasi Pelatihan
                    //-         p.fs-7 697 Menit

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-person-video 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Metode Ajar
                            span.badge.rounded-pill.text-bg-warning Daring LMS

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-tag 
                        div.ps-2 
                            h6.fs-7.mb-2
                                | Kategori
                            p#detail-course-subcategory.fs-7
                                span.skeleton-box.rounded-2(style="height: 14px; width:86px")


                    //- .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                    //-     i.bi.bi-ticket-detailed 
                    //-     div.ps-2 
                    //-         h6.fs-7.mb-2
                    //-             | Kuota Pelatihan
                    //-         p.fs-7 
                    //-             | 1.000
                    //-             i &nbsp;(Selama masih tersedia)

                    .col-12.col-md-6.col-lg-4.mb-4.d-flex 
                        i.bi.bi-link-45deg
                        div.ps-2.overflow-hidden
                            h6.fs-7.mb-2
                                | Link Pelatihan
                            a#detail-course-link-src.fs-7.d-flex.align-items-center(href="#") 
                                span#detail-course-link.text-truncate.me-2
                                    span.skeleton-box.rounded-2(style="height: 14px; width:128px")
                                i.bi.bi-arrow-up-right-square-fill

                hr

                article.content-article
                    section.py-3
                        h4.mb-4 Deskripsi Pelatihan 
                        article#detail-course-description
                            span.skeleton-box.rounded-2(style="height: 16px; width:90%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:100%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:70%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:80%")
                            br
                            br
                            span.skeleton-box.rounded-2(style="height: 16px; width:90%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:100%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:70%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:80%")
                            br
                            br
                            span.skeleton-box.rounded-2(style="height: 16px; width:90%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:100%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:70%")
                            span.skeleton-box.rounded-2(style="height: 16px; width:80%")
                    hr



