#artikel-detail-container.article.content-article
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row.d-flex.justify-content-center 
            .col-lg-8 
                p.skeleton-box.rounded-pill(style="width:90%")
                p.skeleton-box.rounded-pill(style="width:80%")
                p.skeleton-box.rounded-pill(style="width:70%")
                p.skeleton-box.rounded-pill(style="width:50%")
                p.skeleton-box.rounded-pill(style="width:80%")
                p.skeleton-box.rounded-pill(style="width:60%")
                p.skeleton-box.rounded-pill(style="width:80%")
                p.skeleton-box.rounded-pill(style="width:70%")
                p.skeleton-box.rounded-pill(style="width:50%")
                p.skeleton-box.rounded-pill(style="width:80%")